<!--<!DOCTYPE html>-->
<html xmlns="http://www.w3.orgoogle-visualization-table-tableg/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            CMS Production Overview
        </title>
        <script src="/jquery.min.js" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="/bootstrap.min.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/bootstrap.min.js"></script>
        <script src="/loader.js"></script>

        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls', 'corechart']});
        //google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(draw_pie_chart);
        $(document).ready(function() {
            load_data();
            //setInterval(load_data, 300000);
        });

        var factory_data = {};

        function draw_pie_chart(elID, tableVals, graphTitle, backColor){
            if (backColor == null) {backColor="#eeeeee";}
            document.getElementById(elID).style.display = 'block';
            var data = google.visualization.arrayToDataTable(tableVals);
            var options = {
                           pieHole: 0.2,
                           is3D: true,
                           legend: 'none',
                           pieSliceText: 'label',
                           backgroundColor: backColor,
                           chartArea:{left:0,top:0,width:300,height:300},
                           width: 300,
                           height: 300
                          };
            if (graphTitle !== 'none'){
                options[title] = graphTitle;
            }
            var chart = new google.visualization.PieChart(document.getElementById(elID));
            chart.draw(data, options);
        }
        function load_data() {
            var currentview = window.location['pathname'].split("/")[1];
            var currentview = "/".concat(currentview, "/");
            if (currentview == "/prodview/"){
                document.title = "CMS Production Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of production";
                document.getElementById("navbar-brand").innerHTML = "Production Overview";
         		document.getElementById("myTab").style.display = 'inline';
                document.getElementById("jobpriorityOverviewTAB").style.display = 'block';
                document.getElementById("cpupriorityOverviewTAB").style.display = 'block';
                document.getElementById("exitCodesOverviewTAB").style.display = 'block';
                document.getElementById("overReqOverviewTAB").style.display = 'block';
                }
            else if (currentview == "/analysisview/"){
                document.title = "CMS Analysis Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of analysis";
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview";
                document.getElementById("myTab").style.display = 'inline';
                document.getElementById("exitCodesOverviewTAB").style.display = 'block';
                }
            else if (currentview == "/totalview/"){
                document.getElementById("pagetitle").innerHTML = "";
                document.getElementById("navbar-brand").innerHTML = "Total Overview";
                document.getElementById("myTab").style.display = 'inline';
                document.getElementById("fairshareOverviewTAB").style.display = 'block';
            }
            else if (currentview == "/poolview/"){
                document.getElementById("pagetitle").innerHTML = "Scheduler Overview";
                document.getElementById("sitetitle").innerHTML = "";
                document.getElementById("navbar-brand").innerHTML = "Pool Overview";
            }
            else if (currentview == "/factoryview/"){
                document.getElementById("pagetitle").innerHTML = "Factory Overview";
                document.getElementById("sitetitle").innerHTML = "";
                document.getElementById("navbar-brand").innerHTML = "Factory Overview";
            }
            else if (currentview == "/cmsconnectview/"){
                document.getElementById("pagetitle").innerHTML = "Summary of CMSConnect";
                document.getElementById("navbar-brand").innerHTML = "CMSConnect Overview";

            }
            else if (currentview == "/institutionalview/"){
                document.getElementById("pagetitle").innerHTML = "Summary of Institutional view";
                document.getElementById("navbar-brand").innerHTML = "Institutional Overview";
            }

            $.get('/poolview/json/totals', function(data){
                 factory_data = data;
            })              
            // currentview will be /analysisview/ or /prodview/ or /totalview/ or /poolview/ or /factoryview/ or /cmsconnectview/ or /institutionalview/

            // First, get the CMS-wide totals
            if (currentview !== "/poolview/" && currentview !== "/factoryview/"){
                $.get(currentview.concat('/json/totals'), function(data){
                    $.get('/totalview/json/fairshare', function(fairdata){   
                            gotTotals(data, currentview, fairdata)})});
            }
            // Next get the workflow summaries
            if (currentview != "/totalview/" && currentview !== "/factoryview/"){
                if (currentview != "/poolview/"){
                    $.get(currentview.concat('/json/summary'), function(data){
                        $.get('/poolview/json/summary', function(userdata){
                                gotSummary(data, userdata, currentview)})});
                    }
                else {
                    $.get(currentview.concat('/json/summary'), function(data){
                        gotSummarySchedd(data, currentview)});
                        }
            }

            // Finally, get the site summaries
            if (currentview !== "/poolview/" && currentview !== "/factoryview/"){
                $.get(currentview.concat('/json/site_summary'), function(data){
                    gotSiteSummary(data, currentview)});
            }
            // This is new implementation which should be done.
            // Currently there is too many if this do this if this view do this.
            // Separating function will make more code, but it will be more easily readable
            if (currentview == "/factoryview/"){
                $.get(currentview.concat('/json/totals'), function(data){
                   gotTotalsFactory(data, currentview)});
            }
            if (currentview == "/prodview/" || currentview == "/analysisview/"){
                loadExitCodes(currentview.concat('/json/historynew/exitcodes%s%'));
            }

        }

        function loadDocument(docLink){
            var result = null;
            $.ajax({url: docLink, 
                    type: 'get',
                    async: false,
                    success: function(data){ 
                       result = data;}
                   })
            return result;
        }
        function loadExitCodes(fullLink, msg, times){
        if (msg == null){msg = 'none';}
        if (times == null){ times = [1, 24, 720];}
        var OriginMsg = msg;
        for (timeVal in times){
            var temOut = loadDocument(fullLink.replace('%s%', times[timeVal]));
            if ('responses' in temOut){
                temOut = temOut['responses'][0];
            }
            if ('aggregations' in temOut){
                if ('2' in temOut['aggregations']){
                    if ('buckets' in temOut['aggregations']['2']){
                        var newarr = new Array();
                        var temparr = new Array();
                        temparr.push('Key');
                        temparr.push('Counter');
                        newarr.push(temparr);
                        for (item in temOut['aggregations']['2']['buckets']){
                            var temparr = new Array();
                            temparr.push(temOut['aggregations']['2']['buckets'][item]['key'].toString());
                            temparr.push(temOut['aggregations']['2']['buckets'][item]['doc_count']);
                            newarr.push(temparr);
                            }
                        msg = OriginMsg.replace('%s%', times[timeVal]);
                        draw_pie_chart('piechart_top_img'.concat(times[timeVal]), newarr, msg); 
                    }
                }
            }
        }
                
        }
        //
        // FUNCTIONS FOR factoryview
        //
        function gotTotalsFactory(data, currentview){
          drawPoolStatsImgs(currentview, 'summary', 'overall_top_img');
          $('#overall_stats_table').detach();
          pool_stats_table = $("<table></table>");
          pool_stats_table.addClass("table");
          pool_stats_table.attr('id', 'overall_stats_table');
          pool_stats_table.append("<tr><th>Errors</th><td>" + data.Summary.Errors + "</td></tr>");
          pool_stats_table.append("<tr><th>Warnings</th><td>" + data.Summary.Warnings + "</td></tr>");
          pool_stats_table.append("<tr><th>Running Pilots</th><td>" + data.Summary.Run + "</td></tr>");
          pool_stats_table.append("<tr><th>Idle Pilots/Total Idle</th><td>" + data.Summary.Idle + " / " + data.Summary.MIdle + "</td></tr>");
          pool_stats_table.append("<tr><th>Held Pilots/Total Held</th><td>" + data.Summary.Held + " / " + data.Summary.MHeld + "</td></tr>");
          $("#request_slots_table").append(pool_stats_table);

          var table_data = new google.visualization.DataTable();
          table_data.addColumn("string", "Site");
          table_data.addColumn("number", "Errors");
          table_data.addColumn("number", "Warnings");
          table_data.addColumn("number", "Running");
          table_data.addColumn("number", "Idle");
          table_data.addColumn("number", "Held");
          table_data.addColumn("string", "Siteview status");
          table_data.addColumn("string", "Idle status");
          table_data.addColumn("string", 'Held status');

          for (key in data) {
              if (key !== 'Summary' && key !== 'Errors'){
                  sdata = data[key].Summary;
                  var image_html = '<img src="/factoryview/graphs/' + key + '"/>';
                  var shtml = '<a href="/factoryview/' + key + '">' + key + '</a>';
                  var siteview = '<img src="/factoryview/graphs/' + key + '/joint"/>';
                  var idleview = '<img src="/factoryview/graphs/' + key + '/idle"/>';
                  var heldview = '<img src="/factoryview/graphs/' + key + '/held"/>';
                  table_data.addRow([shtml, sdata.Errors, sdata.Warnings, sdata.Run, sdata.Idle, sdata.Held, siteview, idleview, heldview]);
              }}
          var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
          var table = new google.visualization.ChartWrapper({
                        chartType: 'Table',
                        containerId: 'running_workflows_table',
                        options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
                    });
          var control = new google.visualization.ControlWrapper({
                        controlType: 'StringFilter',
                        containerId: 'running_workflows_control',
                        options: {filterColumnIndex: 0, matchType: 'any'}
                    });
           dashboard.bind([control], [table]);
          // I hate google table class. Sorry ;)
          google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
          });
          dashboard.draw(table_data);
        }
        // TODO: Replace someday all this code below with these if`s!
        function gotSummarySchedd(data, currentview) {
        $('#overall_stats_table').detach();
        pool_stats_table = $("<table></table>");
        pool_stats_table.addClass("table");
        pool_stats_table.attr('id', 'overall_stats_table');
        pool_stats_table.append("<tr><th colspan=\"2\">"+data.Collector.INFO+"</th></tr>");
        pool_stats_table.append("<tr><th>Difference</th><td>" + data.Collector.DIFF + "</td></tr>");
        for (coll_key in data.Collector){
            if (coll_key !== "DIFF" && coll_key !== "INFO"){
                pool_stats_table.append("<tr><th>Running "+ coll_key +"</th><td>" + data.Collector[coll_key] + "</td></tr>");
            }
        }
        pool_stats_table.append("<tr><th>Negotiation time</th><td>" + data.Negotiation.NEGOTIATOR + "</td></tr>");
        pool_stats_table.append("<tr><th>Negotiation time(T1)</th><td>" + data.Negotiation.NEGOTIATORT1 + "</td></tr>");
        pool_stats_table.append("<tr><th>Negotiation time(US)</th><td>" + data.Negotiation.NEGOTIATORUS + "</td></tr>");
        pool_stats_table.append("<tr><th>Update time</th><td>" + new Date(data.Summary.UpdateTime*1000).toLocaleString() + "</td></tr>");
        $("#request_slots_table").append(pool_stats_table);
        drawPoolStatsImgs(currentview, 'negotiation', 'overall_top_img');
        drawPoolStatsImgs(currentview, 'difference', 'overall_top_img');
        var table_data = new google.visualization.DataTable();
        table_data.addColumn("string", "Name");
        table_data.addColumn("string", "Status");
        table_data.addColumn("string", "Type");
        table_data.addColumn("number", "Running Jobs");
        table_data.addColumn("number", "Idle Jobs");
        table_data.addColumn("number", "Running CPUs");
        table_data.addColumn("number", "Idle CPUs");
        table_data.addColumn("number", "Running Tasks");
        table_data.addColumn("number", "Idle Tasks");
        table_data.addColumn("number", "Percentage in use");
        table_data.addColumn("string", "Schedd Status");
        table_data.addColumn("string", "Dagmans Status");
        table_data.addColumn("string", "Hourly Jobs History");
        table_data.addColumn("string", "Daily Jobs History");
        table_data.addColumn("string", "Weekly Jobs History");
        table_data.addColumn("string", "Hourly CPUs History");
        table_data.addColumn("string", "Daily CPUs History");
        table_data.addColumn("string", "Weekly CPUs History");
        for (schedd_key in data){
            if (schedd_key !== "Summary" && schedd_key !== "Collector" && schedd_key !== "Negotiation" && schedd_key !== "UserSummary"){
                schedd_data = data[schedd_key];
                var image_htmlh = '<img src="/poolview/graphs/' + schedd_key + '/hourly"/>';
                var image_htmld = '<img src="/poolview/graphs/' + schedd_key + '/daily"/>';
                var image_htmlw = '<img src="/poolview/graphs/' + schedd_key + '/weekly"/>';
                var image_htmls = '<img src="/poolview/graphs/scheddwarning/' + schedd_key + '/hourly"/>';
                var image_htmldags = '<img src="/poolview/graphs/dagmans/' + schedd_key + '/daily"/>';
                var image_htmlhcpus = '<img src="/poolview/graphs/cpus/' + schedd_key + '/hourly"/>';
                var image_htmldcpus = '<img src="/poolview/graphs/cpus/' + schedd_key + '/daily"/>';
                var image_htmlwcpus = '<img src="/poolview/graphs/cpus/' + schedd_key + '/weekly"/>';
                var schedd_html = schedd_data.Name;
                schedd_html += '<br/>';
                if (schedd_data.Machine !== schedd_data.Name){
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine Metrics</a><br/>';
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Name.replace("@", ".") + '">Condor Metrics</a>';
                    schedd_html += '<p>' + schedd_data.Msg + '</p>';
                }
                else{
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine & Condor Metrics</a><br/>';
                    schedd_html += '<p>' + schedd_data.Msg + '</p>';
                }  
                if (schedd_data.CMSGWMS_Type !== "crabschedd"){
                    table_data.addRow([schedd_html, schedd_data.Status, schedd_data.CMSGWMS_Type, schedd_data.TotalRunningJobs, schedd_data.TotalIdleJobs, schedd_data.TotalRunningCpus, schedd_data.TotalIdleCpus, -1, -1, schedd_data.PercentageUse, image_htmls, 'N/A', image_htmlh, image_htmld, image_htmlw, image_htmlhcpus, image_htmldcpus, image_htmlwcpus]);}
                else {
                    table_data.addRow([schedd_html, schedd_data.Status, schedd_data.CMSGWMS_Type, schedd_data.TotalRunningJobs, schedd_data.TotalIdleJobs, schedd_data.TotalRunningCpus, schedd_data.TotalIdleCpus, schedd_data.Summary.Running, schedd_data.Summary.Idle, schedd_data.PercentageUse, image_htmls, image_htmldags, image_htmlh, image_htmld, image_htmlw, image_htmlhcpus, image_htmldcpus, image_htmlwcpus]);}
                
            }
        }
        var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
        var table = new google.visualization.ChartWrapper({
            chartType: 'Table',
            containerId: 'sites_summary_table',
            options: {sortColumn: 1, sortAscending: false, allowHtml: true, cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
        });
        var control = new google.visualization.ControlWrapper({
            controlType: 'StringFilter',
            containerId: 'sites_summary_control',
            options: {filterColumnIndex: 0, matchType: 'any'}
        });
        dashboard.bind([control], [table]);
        // I hate google table class. Sorry ;)
        google.visualization.events.addListener(table, 'ready', function(){
        $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
        });
        dashboard.draw(table_data);
        }

        function gotSummary(data, userdata, currentview) {
            var table_data = new google.visualization.DataTable();
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "CpusUse");
                table_data.addColumn("number", "CpusPen");
                table_data.addColumn("number", "Priority");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'Workflow History');
                table_data.addColumn("string", 'Running Too Long');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="/prodview/graphs/' + workflow_key + '"/>';
                    var workflow_html = '<a href="/prodview/' + workflow_key + '">' + workflow_key + '</a>';
                    var image_html1 = '<img src="/prodview/graphs/overtimecpus/' + workflow_key + '/ALL/hourly"/>';
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.Idle, workflow_data.CpusInUse, workflow_data.CpusPending, workflow_data.BasePrio, workflow_data.SiteCount, image_html, image_html1]);
                }}
            else if (currentview == "/analysisview/"){
                table_data.addColumn("string", "Username");
                table_data.addColumn("number", "Total");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "CpusInUse");
                table_data.addColumn("number", "CpusPen");
                table_data.addColumn("number", "Tasks Running");
                table_data.addColumn("number", "Tasks Idle");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'User History');
                table_data.addColumn("string", "All tasks Statuses");

                for (workflow_key in data) {
                    userTasks = userdata['UserSummary'][workflow_key];
                    if (typeof userTasks === 'undefined') {
                        console.info('This user ' + workflow_key + ' does not have any ROOT tasks. Out:' + userTasks);
                    }
                    else {
                        var userTaskHtml = "";
                        for (var k in userTasks) {
                            userTaskHtml += k + ": " + userTasks[k] + "<br/>";
                        }
                        workflow_data = data[workflow_key];
                        var image_html = '<img src="'+ currentview +'graphs/' + workflow_key + '"/>';
                        var workflow_html = '<a href="'+ currentview + workflow_key + '">' + workflow_key + '</a>';
                        table_data.addRow([workflow_html, workflow_data.Total, workflow_data.Running, workflow_data.Idle, workflow_data.CpusInUse, workflow_data.CpusPending, workflow_data.TaskCount, userTasks.Idle,  workflow_data.SiteCount, image_html, userTaskHtml]);
                    }}}
            else if (currentview == "/cmsconnectview/" || currentview == "/institutionalview/"){
                table_data.addColumn("string", "Username");
                table_data.addColumn("number", "Total");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "CpusInUse");
                table_data.addColumn("number", "CpusPen");
                table_data.addColumn("number", "Tasks Running");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'User History');
            for (workflow_key in data){
                workflow_data = data[workflow_key];
                var image_html = '<img src="'+ currentview +'graphs/' + workflow_key + '"/>';
                var workflow_html = '<a href="'+ currentview + workflow_key + '">' + workflow_key + '</a>';
                table_data.addRow([workflow_html, workflow_data.Total, workflow_data.Running, workflow_data.Idle, workflow_data.CpusInUse, workflow_data.CpusPending, workflow_data.TaskCount, workflow_data.SiteCount, image_html]);
            }
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_workflows_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_workflows_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            google.visualization.events.addListener(table, 'ready', function(){
               $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
             });

            dashboard.draw(table_data);
        }

        function gotSiteSummary(data, currentview) {

            var table_data = new google.visualization.DataTable();
            table_data.addColumn("string", "Site");
            table_data.addColumn("number", "Running");
            table_data.addColumn("number", "Matching Idle");
            table_data.addColumn("number", "CpusUse");
            table_data.addColumn("number", "CpusPen");
            table_data.addColumn("number", "Unique Pressure")
            if (currentview == "/prodview/")
                table_data.addColumn("number", "Workflow Count");
            else if (currentview == "/analysisview/" || currentview == "/cmsconnectview/" || currentview == "/institutionalview/")
                table_data.addColumn("number", "User Count");
            table_data.addColumn("string", "Max Running Achieved");
            table_data.addColumn("string", "Site History");
            if (currentview == "/totalview/"){
                 table_data.addColumn("string", "Production History");
                 table_data.addColumn("string", "CRAB3 History");
            }
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Idle Job Prio");
                table_data.addColumn("string", "Running Job Prio");
                table_data.addColumn("string", "Cpus Pending Prio");
                table_data.addColumn("string", "CpusInUse Prio");
            }

            for (site_key in data) {
                if (site_key == "Summary") continue;
                site = data[site_key];
                var util_img = '<img src="/totalview/graphs/' + site_key + '/utilization/hourly"/>';
                var site_img = '<img src="'+ currentview +'graphs/' + site_key + '"/>';
                var site_html = '<a href="' + currentview + site_key + '"/>' + site_key + '</a>';
                if (currentview != "/totalview/"){
                    if (currentview !== "/prodview/")
                        table_data.addRow([site_html, site.Running, site.MatchingIdle, site.CpusInUse, site.CpusPending, site.UniquePressure, site.RequestCount, util_img, site_img]);
                    else{
                        var img1 = '<img src="/prodview/graphs/siteprioritysummaryidle/' + site_key + '/daily"/>';
                        var img2 = '<img src="/prodview/graphs/siteprioritysummaryrunning/' + site_key + '/daily"/>';
                        var img3 = '<img src="/prodview/graphs/siteprioritysummarycpuspending/' + site_key + '/daily"/>';
                        var img4 = '<img src="/prodview/graphs/siteprioritysummarycpusinuse/' + site_key + '/daily"/>';
                        table_data.addRow([site_html, site.Running, site.MatchingIdle, site.CpusInUse, site.CpusPending, site.UniquePressure, site.RequestCount, util_img, site_img, img1, img2, img3, img4]);
                    }}
                else{
                    var prod_img = '<img src="/prodview/graphs/' + site_key + '"/>';
                    var anal_img = '<img src="/analysisview/graphs/' + site_key + '"/>';
                    if (site_key in factory_data){
                        var entries = factory_data[site_key];
                        site_html += '<table border="1"><tr><th>Num</th><th>MaxWallTime</th><th>MaxMemory</th><th>MaxCpus</th></tr>'
                            for (i = 0; i< entries.length; i++){
                                site_html += '<tr><td>'+ i + '</td>';
                                site_html += '<td>' + entries[i]['MaxWallTime'] + '</td>';
                                site_html += '<td>' + entries[i]['MaxMemMB'] + '</td>';
                                site_html += '<td>' + entries[i]['MaxCpus'] + '</td></tr>';
                            }
                        site_html += '</table><br/>';
                    }
                    else{
                        site_html += "<br/>PROBLEM. Not in the factory.";
                    }
                        table_data.addRow([site_html, site.Running, site.MatchingIdle, site.CpusInUse, site.CpusPending, site.UniquePressure, util_img, site_img, prod_img, anal_img]);
                }
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'sites_summary_table',
               options: {sortColumn: 0, sortAscending: true, allowHtml: true, page: 'enable', pageSize: 20, cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'sites_summary_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);
            // Reset the reload button
            $("#loading-btn").button('reset');
            // Set the last updated
            current_date = new Date();
            $("#updated-time").html("Page Last Updated: " + current_date.toLocaleString());
        }

        var pool_stats = new Array();
        function gotTotals(data, currentview, fairdata) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['Idle'] = data.Idle;
            pool_stats['UniquePressure'] = data.UniquePressure;
            pool_stats['CpusInUse'] = data.CpusInUse;
            pool_stats['CpusPending'] = data.CpusPending;
            if (currentview == "/totalview/"){
                pool_stats['UpdateDate'] = new Date(data.Summary.UpdateTime*1000);
            }
            else {
                pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
            }

            if (currentview == "/prodview/"){
                pool_stats['Priorities'] = data.Priorities;
                drawPoolStatsProd();
            }
            else if (currentview == "/analysisview/"){
                pool_stats['NotQueued'] = data.NotQueued;
                pool_stats['TaskCountR'] = data.TaskCountR;
                pool_stats['TaskCountH'] = data.TaskCountH;
                drawPoolStatsAna();
                }
            else if (currentview == "/cmsconnectview/" || currentview == "/institutionalview/"){
                drawPoolStatsConnect();

            }
            else if (currentview == "/totalview/"){
                pool_stats['CMSConnectRunning'] = data.cmsconnectview.Running;
                pool_stats['CMSConnectTRunning'] = data.cmsconnectview.TaskCountR;
                pool_stats['CMSConnectIdle'] = data.cmsconnectview.Idle;
                pool_stats['CMSConnectUniq'] = data.cmsconnectview.UniquePressure;
                pool_stats['CMSConnectCpusInUse'] = data.cmsconnectview.CpusInUse;
                pool_stats['CMSConnectCpusPending'] = data.cmsconnectview.CpusPending;

                pool_stats['InstitutionalRunning'] = data.institutionalview.Running;
                pool_stats['InstitutionalTRunning'] = data.institutionalview.TaskCountR;
                pool_stats['InstitutionalIdle'] = data.institutionalview.Idle;
                pool_stats['InstitutionalUniq'] = data.institutionalview.UniquePressure;
                pool_stats['InstitutionalCpusInUse'] = data.institutionalview.CpusInUse;
                pool_stats['InstitutionalCpusPending'] = data.institutionalview.CpusPending;

                pool_stats['AnalysisRunning'] = data.analysisview.Running;
                pool_stats['AnalysisTRunning'] = data.analysisview.TaskCountR;
                pool_stats['AnalysisIdle'] = data.analysisview.Idle;
                pool_stats['AnalysisUniq'] = data.analysisview.UniquePressure;
                pool_stats['AnalysisCpusInUse'] = data.analysisview.CpusInUse;
                pool_stats['AnalysisCpusPending'] = data.analysisview.CpusPending;

                pool_stats['ProdRunning'] = data.prodview.Running;
                pool_stats['ProdTRunning'] = data.prodview.RequestCount;
                pool_stats['ProdIdle'] = data.prodview.Idle;
                pool_stats['ProdUniq'] = data.prodview.UniquePressure;
                pool_stats['ProdCpusInUse'] = data.prodview.CpusInUse;
                pool_stats['ProdCpusPending'] = data.prodview.CpusPending;

                pool_stats['TotalRunning'] = data.Summary.Running;
                pool_stats['TotalIdle'] = data.Summary.Idle;
                pool_stats['TotalTRunning'] = pool_stats['AnalysisTRunning'] + pool_stats['ProdTRunning'];
                pool_stats['TotalUniq'] = pool_stats['AnalysisUniq'] + pool_stats['ProdUniq'];
                pool_stats['TotalCpusInUse'] = pool_stats['AnalysisCpusInUse'] + pool_stats['ProdCpusInUse'];
                pool_stats['TotalCpusPending'] = pool_stats['AnalysisCpusPending'] + pool_stats['ProdCpusPending'];
                drawPoolStatsTotal();
                drawPoolStatsImgs(currentview, '/TALL/fairshare', 'fairshare_top_img');
                drawPoolStatsImgs(currentview, '/T0/fairshare', 'fairshare_top_img');
                drawPoolStatsImgs(currentview, '/T1/fairshare', 'fairshare_top_img');
                drawPoolStatsImgs(currentview, '/T2/fairshare', 'fairshare_top_img');
                drawPoolStatsImgs(currentview, '/T3/fairshare', 'fairshare_top_img');
                drawPoolStatsTotalFairShare(fairdata);
            }
			drawPoolStatsImgs(currentview, 'summary', 'overall_top_img');
			if (currentview == "/prodview/") {
				drawPoolStatsImgs(currentview, 'prioritysummaryidle', 'priority_top_img');
                drawPoolStatsImgs(currentview, 'prioritysummaryrunning', 'priority_top_img');
                drawPoolStatsImgs(currentview, 'prioritysummarycpuspending', 'cpriority_top_img');
                drawPoolStatsImgs(currentview, 'prioritysummarycpusinuse', 'cpriority_top_img');
                drawPoolStatsImgs(currentview, 'overtimecpus/ALL/ALL', 'req_top_img');
                drawPoolStatsImgs(currentview, 'overmemusecpus/ALL/ALL', 'req_top_img');
			}
        }

        function drawPoolStatsProd() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Idle Jobs/CpusPen</th><td>" + pool_stats.Idle + " / " + pool_stats.CpusPending + "</td></tr>");
            pool_stats_table.append("<tr><th>Unique Pressure</th><td>" + pool_stats.UniquePressure + "</td></tr>");
            pool_stats_table.append("<tr><th>Running Jobs/CpusUse</th><td>" + pool_stats.Running + "</td></tr>");
            pool_stats_table.append("<tr><th>Cpus In Use</th><td>" + pool_stats.CpusInUse + " / " + pool_stats.CpusInUse + "</td></tr>");
            pool_stats_table.append("<tr><th>Cpus Pending</th><td>" + pool_stats.CpusPending + "</td></tr>");
            pool_stats_table.append("<tr><th>Workflow Count</th><td>" + pool_stats.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);

            $('#overall_priority_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_priority_table');
            pool_stats_table.append("<tr><th>Priority Type</th><th>Running</th><th>Idle</th></tr>");
            var keys = Object.keys(pool_stats.Priorities.Keys).sort();
            for (keyName in keys){
                if (keys[keyName] in pool_stats.Priorities){
                    pool_stats_table.append("<tr><th>"+ pool_stats.Priorities.Keys[keys[keyName]] +"</th><td>" + pool_stats.Priorities[keys[keyName]].Running + "</td><td>" + pool_stats.Priorities[keys[keyName]].Idle + "</td></tr>");
                }
            }
            $("#priority_slots_table").append(pool_stats_table);
            $('#coverall_priority_table').detach();
            pool_stats_table1 = $("<table></table>");
            pool_stats_table1.addClass("table table-nonfluid");
            pool_stats_table1.attr('id', 'coverall_priority_table');
            pool_stats_table1.append("<tr><th>Priority Type</th><th>CpusInUse</th><th>CpusPending</th></tr>");
            var keys = Object.keys(pool_stats.Priorities.Keys).sort();
            for (keyName in keys){
                if (keys[keyName] in pool_stats.Priorities){
                   pool_stats_table1.append("<tr><th>"+ pool_stats.Priorities.Keys[keys[keyName]] +"</th><td>" + pool_stats.Priorities[keys[keyName]].CpusInUse + "</td><td>" + pool_stats.Priorities[keys[keyName]].CpusPending + "</td></    tr>");
                }
            }   
            $("#cpriority_slots_table").append(pool_stats_table1);

        }

        function drawPoolStatsConnect(){
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Idle Jobs/CpusPen</th><td>" + pool_stats.Idle + " / " + pool_stats.CpusPending + "</td></tr>");
            pool_stats_table.append("<tr><th>Unique Pressure</th><td>" + pool_stats.UniquePressure + "</td></tr>");
            pool_stats_table.append("<tr><th>Running Jobs/CpusInUse</th><td>" + pool_stats.Running + " / " + pool_stats.CpusInUse + "</td></tr>");
            pool_stats_table.append("<tr><th>User Count</th><td>" + pool_stats.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);

        }
        function drawPoolStatsAna() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Idle Jobs/CpusPen</th><td>" + pool_stats.Idle + " / " + pool_stats.CpusPending + "</td></tr>");
            pool_stats_table.append("<tr><th>Unique Pressure</th><td>" + pool_stats.UniquePressure + "</td></tr>");
            pool_stats_table.append("<tr><th>Running Jobs/CpusInUse</th><td>" + pool_stats.Running + " / " + pool_stats.CpusInUse + "</td></tr>");
            pool_stats_table.append("<tr><th>Not Queued Jobs</th><td>" + pool_stats.NotQueued + "</td></tr>");
            pool_stats_table.append("<tr><th>User Count</th><td>" + pool_stats.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Running</th><td>" + pool_stats.TaskCountR + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Held</th><td>" + pool_stats.TaskCountH + "</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }

        function drawPoolStatsTotal() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th></th><th>Running/CpusUse</th><th>Idle/CpusPen</th><th>Unique Pressure</th><th>Tasks</th></tr>");
            pool_stats_table.append("<tr><th>Total</th><td>" + pool_stats.TotalRunning + " / " + pool_stats.TotalCpusInUse + "</td><td>"+ pool_stats.TotalIdle +" / " + pool_stats.TotalCpusPending  + "</td><td>"+ pool_stats.TotalUniq +"</td><td>"+ pool_stats.TotalTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Production</th><td>" + pool_stats.ProdRunning + " / " + pool_stats.ProdCpusInUse + "</td><td>"+ pool_stats.ProdIdle + " / " + pool_stats.ProdCpusPending + "</td><td>"+ pool_stats.ProdUniq +"</td><td>"+ pool_stats.ProdTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Analysis</th><td>" + pool_stats.AnalysisRunning + " / " + pool_stats.AnalysisCpusInUse + "</td><td>"+ pool_stats.AnalysisIdle +" / " + pool_stats.AnalysisCpusPending + "</td><td>"+ pool_stats.AnalysisUniq +"</td><td>"+ pool_stats.AnalysisTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>CMSConnect</th><td>" + pool_stats.CMSConnectRunning + " / " + pool_stats.CMSConnectCpusInUse + "</td><td>"+ pool_stats.CMSConnectIdle +" / " + pool_stats.CMSConnectCpusPending + "</td><td>"+ pool_stats.CMSConnectUniq +"</td><td>"+ pool_stats.CMSConnectTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Institutional</th><td>" + pool_stats.InstitutionalRunning + " / " + pool_stats.InstitutionalCpusInUse + "</td><td>"+ pool_stats.InstitutionalIdle +" / " + pool_stats.InstitutionalCpusPending + "</td><td>"+ pool_stats.InstitutionalUniq +"</td><td>"+ pool_stats.InstitutionalTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td colspan=\"3\">" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);


        }


function drawPoolStatsTotalFairShare(fairdata) {
          $('#pverall_fairsharestats_table').detach();
          pool_stats_table = $("<table></table>");
          pool_stats_table.addClass("table table-nonfluid");
          pool_stats_table.attr('id', 'overall_fairsharestats_table');
          pool_stats_table.append("<tr><th></th><th>Prod Running</th><th>Prod CpusUse</th><th>Ana Running</th><th>Ana CpusUse</th></tr>");

          perc1 = fairdata.ALL[1] / (fairdata.ALL[1] + fairdata.ALL[3]) * 100;
          perc2 = fairdata.ALL[0] / (fairdata.ALL[0] + fairdata.ALL[2]) * 100;
          perc3 = fairdata.ALL[3] / (fairdata.ALL[3] + fairdata.ALL[1]) * 100;
          perc4 = fairdata.ALL[2] / (fairdata.ALL[2] + fairdata.ALL[0]) * 100;
          pool_stats_table.append("<tr><th>All</th><td>" + fairdata.ALL[1] + " (" +perc1.toFixed(2)+ "%)</td><td>"
                                  + fairdata.ALL[0] +" (" +perc2.toFixed(2)+ "%)</td><td>"
                                  + fairdata.ALL[3] +" (" +perc3.toFixed(2)+ "%)</td><td>"
                                  + fairdata.ALL[2] +" (" +perc4.toFixed(2)+ "%)</td></tr>" );

          perc1 = fairdata.T0[1] / (fairdata.T0[1] + fairdata.T0[3]) * 100;
          perc2 = fairdata.T0[0] / (fairdata.T0[0] + fairdata.T0[2]) * 100;
          perc3 = fairdata.T0[3] / (fairdata.T0[3] + fairdata.T0[1]) * 100;
          perc4 = fairdata.T0[2] / (fairdata.T0[2] + fairdata.T0[0]) * 100;
          pool_stats_table.append("<tr><th>T0</th><td>" + fairdata.T0[1] + " (" +perc1.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T0[0] +" (" +perc2.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T0[3] +" (" +perc3.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T0[2] +" (" +perc4.toFixed(2)+ "%)</td></tr>" );

          perc1 = fairdata.T1[1] / (fairdata.T1[1] + fairdata.T1[3]) * 100;
          perc2 = fairdata.T1[0] / (fairdata.T1[0] + fairdata.T1[2]) * 100;
          perc3 = fairdata.T1[3] / (fairdata.T1[3] + fairdata.T1[1]) * 100;
          perc4 = fairdata.T1[2] / (fairdata.T1[2] + fairdata.T1[0]) * 100;
          pool_stats_table.append("<tr><th>T1</th><td>" + fairdata.T1[1] + " (" +perc1.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T1[0] +" (" +perc2.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T1[3] +" (" +perc3.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T1[2] +" (" +perc4.toFixed(2)+ "%)</td></tr>" );

          perc1 = fairdata.T2[1] / (fairdata.T2[1] + fairdata.T2[3]) * 100;
          perc2 = fairdata.T2[0] / (fairdata.T2[0] + fairdata.T2[2]) * 100;
          perc3 = fairdata.T2[3] / (fairdata.T2[3] + fairdata.T2[1]) * 100;
          perc4 = fairdata.T2[2] / (fairdata.T2[2] + fairdata.T2[0]) * 100;
          pool_stats_table.append("<tr><th>T2</th><td>" + fairdata.T2[1] + " (" +perc1.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T2[0] +" (" +perc2.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T2[3] +" (" +perc3.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T2[2] +" (" +perc4.toFixed(2)+ "%)</td></tr>" );

          perc1 = fairdata.T3[1] / (fairdata.T3[1] + fairdata.T3[3]) * 100;
          perc2 = fairdata.T3[0] / (fairdata.T3[0] + fairdata.T3[2]) * 100;
          perc3 = fairdata.T3[3] / (fairdata.T3[3] + fairdata.T3[1]) * 100;
          perc4 = fairdata.T3[2] / (fairdata.T3[2] + fairdata.T3[0]) * 100;
          pool_stats_table.append("<tr><th>T3</th><td>" + fairdata.T3[1] + " (" +perc1.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T3[0] +" (" +perc2.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T3[3] +" (" +perc3.toFixed(2)+ "%)</td><td>"
                                   + fairdata.T3[2] +" (" +perc4.toFixed(2)+ "%)</td></tr>" );

          $("#fairshare_slots_table").append(pool_stats_table);
 
        }

		function imagesByTag(url, tag, imgTag){
            $(imgTag).detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', imgTag);
            pool_hourly_img.attr('src', url);
            $("#"+ tag).append(pool_hourly_img);
		}
		
        function drawPoolStatsImgs(currentview, type, tag){
			imagesByTag(currentview + 'graphs/' + type + '/hourly', tag + "1", tag + "11");
			imagesByTag(currentview + 'graphs/' + type + '/daily', tag + "2", tag + "22");
			imagesByTag(currentview + 'graphs/' + type + '/weekly', tag + "3", tag + "33");
        }
//]]>
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" id="navbar-brand">GWMS Overview</a>
         </div>
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/cmsconnectview">CMSConnect Overview</a></li>
              <li><a href="/institutionalview">Institutional Overview</a></li>
              <li><a href="/poolview">Pool Overview</a></li>
              <li><a href="/factoryview">Factory Overview</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </nav>

  <div class="container-fluid tab-pane">
  <ul class="nav nav-tabs" id="myTab" style="display:none">
    <li class="active"><a href="#overviewMain">Overview</a></li>
    <li><a href="#fairshareOverview" id="fairshareOverviewTAB" style="display:none">Fairshare Overview</a></li>
    <li><a href="#jobpriorityOverview" id="jobpriorityOverviewTAB" style="display:none">Job Priority Overview</a></li>
    <li><a href="#cpupriorityOverview" id="cpupriorityOverviewTAB" style="display:none">CPU Priority Overview</a></li>
    <li><a href="#exitCodesOverview" id="exitCodesOverviewTAB" style="display:none">Exit Codes Overview</a></li>
    <li><a href="#overReqOverview" id="overReqOverviewTAB" style="display:none">Over requirements</a></li>
  </ul>
      <div class="tab-content">
       <div class="tab-pane active" id="overviewMain">
            <div class="row jumbotron" id="top_summary" style="padding-top:10px; padding-bottom:10px">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:40px"><div id="request_slots_table"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="overall_top_img1"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="overall_top_img2"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="overall_top_img3"></div>
                    </div></div>
        </div></div></div>

        <div class="tab-pane" id="jobpriorityOverview">
            <div class="row jumbotron" id="top_summary" style="padding-top:10px">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:40px"><div id="priority_slots_table"></div></div>
                    <div class="col-md-3">
                        <div class="row">
                            <h2>Last Hour</h2>
                            <div id="priority_top_img1"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <h2>Last Day</h2>
                            <div id="priority_top_img2"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <h2>Last Week</h2>
                            <div id="priority_top_img3"></div>
                    </div></div>
        </div></div></div>

        <div class="tab-pane" id="fairshareOverview">
            <div class="row jumbotron" id="top_summary" style="padding-top:10px">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:40px"><div id="fairshare_slots_table"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="fairshare_top_img1"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="fairshare_top_img2"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="fairshare_top_img3"></div>
                    </div></div>
      </div></div></div>

      <div class="tab-pane" id="cpupriorityOverview">
           <div class="row jumbotron" id="top_summary" style="padding-top:10px">
                <div class="col-md-12">
                     <div class="col-md-3" style="padding-top:40px"><div id="cpriority_slots_table"></div></div>
                      <div class="col-md-3">
                      <div class="row">
                           <h2>Last Hour</h2>
                           <div id="cpriority_top_img1"></div>
                      </div>
                      </div>
                <div class="col-md-3">
                      <div class="row">
                           <h2>Last Day</h2>
                           <div id="cpriority_top_img2"></div>
                           </div>
                           </div>
                 <div class="col-md-3">
                      <div class="row">
                           <h2>Last Week</h2>
                           <div id="cpriority_top_img3"></div>
                           </div></div>
       </div></div></div>
       <div class="tab-pane" id="exitCodesOverview">
            <div class="row jumbotron" id="top_summary" style="padding-top:10px">
                 <div class="col-md-12">
                      <div class="col-md-3" style="padding-top:40px"><div id="exitcodes_slots_table"></div></div>
                      <div class="col-md-3">
                      <div class="row">
                           <h2>Last Hour</h2>
                           <div id="piechart_top_img1" style="width: 300px; height: 300px; display: none;"></div>
                     </div>
                     </div>
                     <div class="col-md-3">
                     <div class="row">
                           <h2>Last Day</h2>
                           <div id="piechart_top_img24" style="width: 300px; height: 300px; display: none"></div>
                     </div>
                     </div>
                     <div class="col-md-3">
                     <div class="row">
                           <h2>Last Month</h2>
                           <div id="piechart_top_img720" style="width: 300px; height: 300px; display: none"></div>
                     </div></div>
       </div></div></div>
       <div class="tab-pane" id="overReqOverview">
            <div class="row jumbotron" id="top_summary" style="padding-top:10px">
                 <div class="col-md-12">
                     <div class="col-md-3" style="padding-top:40px"><div id="req_slots_table"></div></div>
                     <div class="col-md-3">
                     <div class="row">
                         <h2>Last Hour</h2>
                         <div id="req_top_img1"></div>
                     </div>
                     </div>
                     <div class="col-md-3">
                     <div class="row">
                         <h2>Last Day</h2>
                         <div id="req_top_img2"></div>
                     </div>
                     </div>
                     <div class="col-md-3">
                     <div class="row">
                         <h2>Last Month</h2>
                         <div id="req_top_img3"></div>
                     </div></div>
        </div></div></div>
        </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="subtasks" class="col-md-12">
                    <h2 id="pagetitle">
                        Summary of production
                    </h2>
                   <div id="running_workflows">
                        <div id="running_workflows_control"></div>
                        <div id="running_workflows_table"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div id="sites" class="col-md-12">
                    <h2 id="sitetitle">
                        Site Summary
                    </h2>
                    <div id="sites_summary">
                        <div id="sites_summary_control"></div>
                        <div id="sites_summary_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
</html>
