<!DOCTYPE html>
<html xmlns="http://www.w3.orgoogle-visualization-table-tableg/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            CMS Production Overview
        </title>
        <script src="/jquery.min.js" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="/bootstrap.min.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/bootstrap.min.js"></script>

        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            var currentview = window.location['pathname'].split("/")[1];
            var currentview = "/".concat(currentview, "/");
            if (currentview == "/prodview/"){
                document.title = "CMS Production Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of production";
                document.getElementById("navbar-brand").innerHTML = "Production Overview";
                }
            else if (currentview == "/analysisview/"){
                document.title = "CMS Analysis Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of analysis";
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview";
                }
            else if (currentview == "/analysiscrab2view/"){
                document.title = "CMS Analysis Overview (CRAB2)";
                document.getElementById("pagetitle").innerHTML = "Summary of analysis";
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview (CRAB2)";
            }
            else if (currentview == "/totalview/"){
                document.getElementById("pagetitle").innerHTML = "";
                document.getElementById("navbar-brand").innerHTML = "Total Overview";
            }
            else if (currentview == "/scheddview/"){
                document.getElementById("pagetitle").innerHTML = "Scheduler Overview";
                document.getElementById("sitetitle").innerHTML = "";
                document.getElementById("top_summary").style.display = 'none';
                document.getElementById("navbar-brand").innerHTML = "Scheduler Overview";
            }
            else if (currentview == "/factoryview/"){
                document.getElementById("pagetitle").innerHTML = "Factory Overview";
                document.getElementById("sitetitle").innerHTML = "";
                document.getElementById("navbar-brand").innerHTML = "Factory Overview";
            }

            // currentview will be /analysisview/ or /prodview/ or /analysiscrab2view/ or /totalview/ or /scheddview/ or /factoryview/

            // First, get the CMS-wide totals
            if (currentview !== "/scheddview/" && currentview !== "/factoryview/"){
                $.get(currentview.concat('/json/totals'), function(data){
                    gotTotals(data, currentview)});
            }
            // Next get the workflow summaries
            if (currentview != "/totalview/" && currentview !== "/factoryview/"){
                if (currentview != "/scheddview/"){
                    $.get(currentview.concat('/json/summary'), function(data){
                        gotSummary(data, currentview)});
                }
                else {
                    $.get(currentview.concat('/json/summary'), function(data){
                        gotSummarySchedd(data, currentview)});
		        }
            }

            // Finally, get the site summaries
            if (currentview !== "/scheddview/" && currentview !== "/factoryview/"){
                $.get(currentview.concat('/json/site_summary'), function(data){
                    gotSiteSummary(data, currentview)});
            }
            // This is new implementation which should be done.
            // Currently there is too many if this do this if this view do this.
            // Separating function will make more code, but it will be more easily readable
            if (currentview == "/factoryview/"){
                $.get(currentview.concat('/json/totals'), function(data){
                   gotTotalsFactory(data, currentview)});
            }
            
        }

        //
        // FUNCTIONS FOR factoryview
        //
        function gotTotalsFactory(data, currentview){
          drawPoolStatsImgs(currentview);
          $('#overall_stats_table').detach();
          pool_stats_table = $("<table></table>");
          pool_stats_table.addClass("table");
          pool_stats_table.attr('id', 'overall_stats_table');
          pool_stats_table.append("<tr><th>Errors</th><td>" + data.Summary.Errors + "</td></tr>");
          pool_stats_table.append("<tr><th>Warnings</th><td>" + data.Summary.Warnings + "</td></tr>");
          pool_stats_table.append("<tr><th>Running Pilots</th><td>" + data.Summary.Run + "</td></tr>");
          pool_stats_table.append("<tr><th>Idle Pilots/Total Idle</th><td>" + data.Summary.Idle + " / " + data.Summary.MIdle + "</td></tr>");
          pool_stats_table.append("<tr><th>Held Pilots/Total Held</th><td>" + data.Summary.Held + " / " + data.Summary.MHeld + "</td></tr>");
          $("#request_slots_table").append(pool_stats_table);

          var table_data = new google.visualization.DataTable();
          table_data.addColumn("string", "Site");
          table_data.addColumn("number", "Errors");
          table_data.addColumn("number", "Warnings");
          table_data.addColumn("number", "Running");
          table_data.addColumn("number", "Idle");
          table_data.addColumn("number", "Held");
          table_data.addColumn("string", "Siteview status");
          table_data.addColumn("string", "Idle status");
          table_data.addColumn("string", 'Held status');

          for (key in data) {
              if (key !== 'Summary' && key !== 'Errors'){
                  sdata = data[key].Summary;
                  var image_html = '<img src="/factoryview/graphs/' + key + '"/>';
                  var shtml = '<a href="/factoryview/' + key + '">' + key + '</a>';
                  var siteview = '<img src="/factoryview/graphs/' + key + '/joint"/>';  
                  var idleview = '<img src="/factoryview/graphs/' + key + '/idle"/>';
                  var heldview = '<img src="/factoryview/graphs/' + key + '/held"/>';
                  table_data.addRow([shtml, sdata.Errors, sdata.Warnings, sdata.Run, sdata.Idle, sdata.Held, siteview, idleview, heldview]);
              }}
          var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
          var table = new google.visualization.ChartWrapper({
                        chartType: 'Table',
                        containerId: 'running_workflows_table',
                        options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
                    });
          var control = new google.visualization.ControlWrapper({
                        controlType: 'StringFilter',
                        containerId: 'running_workflows_control',
                        options: {filterColumnIndex: 0, matchType: 'any'}
                    });
          dashboard.bind([control], [table]);
          // I hate google table class. Sorry ;)
          google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
          });
          dashboard.draw(table_data);
        }
        // TODO: Replace someday all this code below with these if`s!
        function gotSummarySchedd(data, currentview) {
        var table_data = new google.visualization.DataTable();
        table_data.addColumn("string", "Name");
        table_data.addColumn("string", "Status");
        table_data.addColumn("string", "Type");
        table_data.addColumn("number", "Total Running");
        table_data.addColumn("number", "Total Idle");
        table_data.addColumn("number", "Total Held");
        table_data.addColumn("number", "Percentage in use");
        table_data.addColumn("string", "Hourly History");
        table_data.addColumn("string", "Daily History");
        table_data.addColumn("string", "Weekly History");
        for (schedd_key in data){
            if (schedd_key !== "Summary"){
	        schedd_data = data[schedd_key];
                var image_htmlh = '<img src="/scheddview/graphs/' + schedd_key + '/hourly"/>';
                var image_htmld = '<img src="/scheddview/graphs/' + schedd_key + '/daily"/>';
                var image_htmlw = '<img src="/scheddview/graphs/' + schedd_key + '/weekly"/>';

                var schedd_html = schedd_data.Name;
                schedd_html += '<br/>';
                if (schedd_data.Machine !== schedd_data.Name){
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine Metrics</a><br/>';
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Name.replace("@", ".") + '">Condor Metrics</a>';
                }
                else
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine & Condor Metrics</a><br/>';
                table_data.addRow([schedd_html, schedd_data.Status, schedd_data.CMSGWMS_Type, schedd_data.TotalRunningJobs, schedd_data.TotalIdleJobs, schedd_data.TotalHeldJobs, schedd_data.PercentageUse, image_htmlh, image_htmld, image_htmlw]);
	    }
	}
        var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
        var table = new google.visualization.ChartWrapper({
            chartType: 'Table',
            containerId: 'sites_summary_table',
            options: {sortColumn: 1, sortAscending: false, allowHtml: true, cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
        });
        var control = new google.visualization.ControlWrapper({
            controlType: 'StringFilter',
            containerId: 'sites_summary_control',
            options: {filterColumnIndex: 0, matchType: 'any'}
        });
        dashboard.bind([control], [table]);
        // I hate google table class. Sorry ;)
        google.visualization.events.addListener(table, 'ready', function(){
        $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
        });
        dashboard.draw(table_data);
        }

        function gotSummary(data, currentview) {
            var table_data = new google.visualization.DataTable();
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Priority");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("number", "Higher Prio Workflow Jobs Idle");
                table_data.addColumn("number", "Lower Prio Workflow Jobs Running");
                table_data.addColumn("string", 'Workflow History');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="/prodview/graphs/' + workflow_key + '"/>';
                    var workflow_html = '<a href="/prodview/' + workflow_key + '">' + workflow_key + '</a>';
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.Idle, workflow_data.BasePrio, workflow_data.SiteCount, workflow_data.HigherPrioIdle, workflow_data.LowerPrioRunning, image_html]);
                }}
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                table_data.addColumn("string", "Username");
                table_data.addColumn("number", "Total");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'User History');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="'+ currentview +'graphs/' + workflow_key + '"/>';
                    var workflow_html = '<a href="'+ currentview + workflow_key + '">' + workflow_key + '</a>';
                    table_data.addRow([workflow_html, workflow_data.Total, workflow_data.Running, workflow_data.Idle, workflow_data.SiteCount, image_html]);
                }}

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_workflows_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_workflows_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            google.visualization.events.addListener(table, 'ready', function(){
               $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
             });

            dashboard.draw(table_data);
        }

        function gotSiteSummary(data, currentview) {

            var table_data = new google.visualization.DataTable();
            table_data.addColumn("string", "Site");
            table_data.addColumn("number", "Running");
            table_data.addColumn("number", "Matching Idle");
            if (currentview == "/prodview/")
                table_data.addColumn("number", "Workflow Count");
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/")
                table_data.addColumn("number", "User Count");
            table_data.addColumn("string", "Max Running Achieved");
            table_data.addColumn("string", "Site History");
            if (currentview == "/totalview/"){
                 table_data.addColumn("string", "Production History");
                 table_data.addColumn("string", "CRAB3 History");
                 table_data.addColumn("string", "CRAB2 History");
            }



            for (site_key in data) {
                site = data[site_key];
                var util_img = '<img src="/totalview/graphs/' + site_key + '/utilization/hourly"/>';
                var site_img = '<img src="'+ currentview +'graphs/' + site_key + '"/>';
                var site_html = '<a href="' + currentview + site_key + '"/>' + site_key + '</a>';
                if (currentview != "/totalview/")
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, site.RequestCount, util_img, site_img]);
                else{
                    var prod_img = '<img src="/prodview/graphs/' + site_key + '"/>';
                    var anal_img = '<img src="/analysisview/graphs/' + site_key + '"/>';
                    var acr2_img = '<img src="/analysiscrab2view/graphs/' + site_key + '"/>';
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, util_img, site_img, prod_img, anal_img, acr2_img]);
                }
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'sites_summary_table',
               options: {sortColumn: 0, sortAscending: true, allowHtml: true, page: 'enable', pageSize: 20, cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'sites_summary_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);

            // Reset the reload button
            $("#loading-btn").button('reset');
            // Set the last updated
            current_date = new Date();
            $("#updated-time").html("Page Last Updated: " + current_date.toLocaleString());
        }

        var pool_stats = new Array();
        function gotTotals(data, currentview) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['Idle'] = data.Idle;
            if (currentview == "/totalview/"){
                pool_stats['UpdateDate'] = new Date(data.Summary.UpdateTime*1000);
            }
            else {
                pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
	    }

            if (currentview == "/prodview/"){
                drawPoolStatsProd();
            }
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                pool_stats['NotQueued'] = data.NotQueued;
                pool_stats['TaskCountR'] = data.TaskCountR;
                pool_stats['TaskCountH'] = data.TaskCountH;
                drawPoolStatsAna();
                }
            else if (currentview == "/totalview/"){
                pool_stats['AnalysisRunning'] = data.analysisview.Running;
                pool_stats['AnalysisTRunning'] = data.analysisview.TaskCountR;
                pool_stats['AnalysisIdle'] = data.analysisview.Idle;

                pool_stats['ProdRunning'] = data.prodview.Running;
                pool_stats['ProdTRunning'] = data.prodview.RequestCount;
                pool_stats['ProdIdle'] = data.prodview.Idle;

                pool_stats['CRAB2Running'] = data.analysiscrab2view.Running;
                pool_stats['CRAB2TRunning'] = data.analysiscrab2view.TaskCountR;
                pool_stats['CRAB2Idle'] = data.analysiscrab2view.Idle;

                pool_stats['TotalRunning'] = data.Summary.Running;
                pool_stats['TotalIdle'] = data.Summary.Idle;
                pool_stats['TotalTRunning'] = pool_stats['AnalysisTRunning'] + pool_stats['ProdTRunning'] + pool_stats['CRAB2TRunning'];
                drawPoolStatsTotal();
            }
            drawPoolStatsImgs(currentview);
        }

        function drawPoolStatsProd() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Idle Jobs</th><th>Workflow Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.Idle + "</td><td>" + pool_stats.RequestCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }
        
        function drawPoolStatsAna() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Idle Jobs</th><td>" + pool_stats.Idle + "</td></tr>");
            pool_stats_table.append("<tr><th>Running Jobs</th><td>" + pool_stats.Running + "</td></tr>");
            pool_stats_table.append("<tr><th>Not Queued Jobs</th><td>" + pool_stats.NotQueued + "</td></tr>");
            pool_stats_table.append("<tr><th>User Count</th><td>" + pool_stats.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Running</th><td>" + pool_stats.TaskCountR + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Held</th><td>" + pool_stats.TaskCountH + "</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }

        function drawPoolStatsTotal() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table table-nonfluid");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th></th><th>Running</th><th>Idle</th><th>Tasks</th></tr>");
            pool_stats_table.append("<tr><th>Total</th><td>" + pool_stats.TotalRunning + "</td><td>"+ pool_stats.TotalIdle +"</td><td>"+ pool_stats.TotalTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Production</th><td>" + pool_stats.ProdRunning + "</td><td>"+ pool_stats.ProdIdle +"</td><td>"+ pool_stats.ProdTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Analysis</th><td>" + pool_stats.AnalysisRunning + "</td><td>"+ pool_stats.AnalysisIdle +"</td><td>"+ pool_stats.AnalysisTRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>CRAB2</th><td>" + pool_stats.CRAB2Running + "</td><td>"+ pool_stats.CRAB2Idle +"</td><td>"+ pool_stats.CRAB2TRunning +"</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td colspan=\"3\">" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);

        }

        function drawPoolStatsImgs(currentview){
            $('#overall_hourly_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img');
            pool_hourly_img.attr('src', currentview + 'graphs/summary/hourly');
            $("#pool_hourly_img").append(pool_hourly_img);

            $('#overall_daily_img').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img');
            pool_daily_img.attr('src', currentview + 'graphs/summary/daily');
            $("#pool_daily_img").append(pool_daily_img);

            $('#overall_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/summary/weekly');
            $("#pool_weekly_img").append(pool_weekly_img);
        }
//]]>
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" id="navbar-brand">GWMS Overview</a>
         </div>
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
              <li><a href="/factoryview">Factory Overview</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </nav>
       <div class="container-fluid">
            <div class="row jumbotron" id="top_summary">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:40px"><div id="request_slots_table"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_img"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="pool_daily_img"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_img"></div>
                    </div></div></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="subtasks" class="col-md-12">
                    <h2 id="pagetitle">
                        Summary of production
                    </h2>
                   <div id="running_workflows">
                        <div id="running_workflows_control"></div>
                        <div id="running_workflows_table"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div id="sites" class="col-md-12">
                    <h2 id="sitetitle">
                        Site Summary
                    </h2>
                    <div id="sites_summary">
                        <div id="sites_summary_control"></div>
                        <div id="sites_summary_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69774798-1', 'auto');
  ga('send', 'pageview');
  </script>

</html>
