<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            CMS Production Overview
        </title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            var currentview = window.location['pathname'].split("/")[1];
            var currentview = "/".concat(currentview, "/");
            if (currentview == "/prodview/"){
                document.title = "CMS Production Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of production";
                document.getElementById("brand").innerHTML = "Production Overview";
                }
            else if (currentview == "/analysisview/"){
                document.title = "CMS Analysis Overview";
                document.getElementById("pagetitle").innerHTML = "Summary of analysis";
                document.getElementById("brand").innerHTML = "Analysis Overview";
                }
            else if (currentview == "/analysiscrab2view/"){
                document.title = "CMS Analysis Overview (CRAB2)";
                document.getElementById("pagetitle").innerHTML = "Summary of analysis";
                document.getElementById("brand").innerHTML = "Analysis Overview (CRAB2)";
            }
            else if (currentview == "/totalview/"){
                document.getElementById("pagetitle").innerHTML = "";
                document.getElementById("brand").innerHTML = "Total Overview";
            }
            else if (currentview == "/scheddview/"){
                document.getElementById("pagetitle").innerHTML = "Scheduler Overview";
                document.getElementById("sitetitle").innerHTML = "";
                document.getElementById("top_summary").style.display = 'none';
                document.getElementById("brand").innerHTML = "Scheduler Overview";
            }

            // currentview will be /analysisview/ or /prodview/ or /analysiscrab2view/ or /totalview/ or /scheddview/

            // First, get the CMS-wide totals
            if (currentview !== "/scheddview/"){
                $.get(currentview.concat('/json/totals'), function(data){
                    gotTotals(data, currentview)});
            }
            // Next get the workflow summaries
            if (currentview != "/totalview/"){
                if (currentview != "/scheddview/"){
                    $.get(currentview.concat('/json/summary'), function(data){
                        gotSummary(data, currentview)});
                }
                else {
                    $.get(currentview.concat('/json/summary'), function(data){
                        gotSummarySchedd(data, currentview)});
		}
            }

            // Finally, get the site summaries
            if (currentview !== "/scheddview/"){
                $.get(currentview.concat('/json/site_summary'), function(data){
                    gotSiteSummary(data, currentview)});
            }
            
        }

        function gotSummarySchedd(data, currentview) {
        var table_data = new google.visualization.DataTable();
        table_data.addColumn("string", "Name");
        table_data.addColumn("string", "Status");
        table_data.addColumn("string", "Type");
        table_data.addColumn("number", "Total Running");
        table_data.addColumn("number", "Total Idle");
        table_data.addColumn("number", "Total Held");
        table_data.addColumn("number", "Percentage in use");
        table_data.addColumn("string", "Hourly History");
        table_data.addColumn("string", "Daily History");
        table_data.addColumn("string", "Weekly History");
        for (schedd_key in data){
            if (schedd_key !== "Summary"){
	        schedd_data = data[schedd_key];
                var image_htmlh = '<img src="/scheddview/graphs/' + schedd_key + '/hourly"/>';
                var image_htmld = '<img src="/scheddview/graphs/' + schedd_key + '/daily"/>';
                var image_htmlw = '<img src="/scheddview/graphs/' + schedd_key + '/weekly"/>';

                var schedd_html = schedd_data.Name;
                schedd_html += '<br/>';
                if (schedd_data.Machine !== schedd_data.Name){
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine Metrics</a><br/>';
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Name.replace("@", ".") + '">Condor Metrics</a>';
                }
                else
                    schedd_html += '<a target="_blank" href="http://hcc-ganglia.unl.edu/?c=crab-infrastructure&h=' + schedd_data.Machine + '">Machine & Condor Metrics</a><br/>';
                table_data.addRow([schedd_html, schedd_data.Status, schedd_data.CMSGWMS_Type, schedd_data.TotalRunningJobs, schedd_data.TotalIdleJobs, schedd_data.TotalHeldJobs, schedd_data.PercentageUse, image_htmlh, image_htmld, image_htmlw]);
	    }
	}
        var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
        var table = new google.visualization.ChartWrapper({
            chartType: 'Table',
            containerId: 'sites_summary_table',
            options: {sortColumn: 1, sortAscending: false, allowHtml: true}
        });
        var control = new google.visualization.ControlWrapper({
            controlType: 'StringFilter',
            containerId: 'sites_summary_control',
            options: {filterColumnIndex: 0, matchType: 'any'}
        });
        dashboard.bind([control], [table]);
        dashboard.draw(table_data);
        }

        function gotSummary(data, currentview) {
            var table_data = new google.visualization.DataTable();
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Priority");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("number", "Higher Prio Workflow Jobs Idle");
                table_data.addColumn("number", "Lower Prio Workflow Jobs Running");
                table_data.addColumn("string", 'Workflow History');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="/prodview/graphs/' + workflow_key + '"/>';
                    var workflow_html = '<a href="/prodview/' + workflow_key + '">' + workflow_key + '</a>';
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.Idle, workflow_data.BasePrio, workflow_data.SiteCount, workflow_data.HigherPrioIdle, workflow_data.LowerPrioRunning, image_html]);
                }}
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                table_data.addColumn("string", "Username");
                table_data.addColumn("number", "Total");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'User History');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="'+ currentview +'graphs/' + workflow_key + '"/>';
                    var workflow_html = '<a href="'+ currentview + workflow_key + '">' + workflow_key + '</a>';
                    table_data.addRow([workflow_html, workflow_data.Total, workflow_data.Running, workflow_data.Idle, workflow_data.SiteCount, image_html]);
                }}

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_workflows_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable'}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_workflows_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            dashboard.draw(table_data);
        }

        function gotSiteSummary(data, currentview) {

            var table_data = new google.visualization.DataTable();
            table_data.addColumn("string", "Site");
            table_data.addColumn("number", "Running");
            table_data.addColumn("number", "Matching Idle");
            if (currentview == "/prodview/")
                table_data.addColumn("number", "Workflow Count");
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/")
                table_data.addColumn("number", "User Count");
            table_data.addColumn("string", "Site History");
            if (currentview == "/totalview/"){
                 table_data.addColumn("string", "Production History");
                 table_data.addColumn("string", "Analysis History");
                 table_data.addColumn("string", "Analysis(CRAB2) History");
            }



            for (site_key in data) {
                site = data[site_key];
                var site_img = '<img src="'+ currentview +'graphs/' + site_key + '"/>';
                var site_html = '<a href="' + currentview + site_key + '"/>' + site_key + '</a>';
                if (currentview != "/totalview/")
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, site.RequestCount, site_img]);
                else{
                    var prod_img = '<img src="/prodview/graphs/' + site_key + '"/>';
                    var anal_img = '<img src="/analysisview/graphs/' + site_key + '"/>';
                    var acr2_img = '<img src="/analysiscrab2view/graphs/' + site_key + '"/>';
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, site_img, prod_img, anal_img, acr2_img]);
                }
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'sites_summary_table',
                options: {sortColumn: 0, sortAscending: true, allowHtml: true, page: 'enable', pageSize: 20}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'sites_summary_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            dashboard.draw(table_data);

            // Reset the reload button
            $("#loading-btn").button('reset');
            // Set the last updated
            current_date = new Date();
            $("#updated-time").html("Page Last Updated: " + current_date.toLocaleString());
        }

        var pool_stats = new Array();
        function gotTotals(data, currentview) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['Idle'] = data.Idle;
            if (currentview == "/totalview/"){
                pool_stats['UpdateDate'] = new Date(data.Summary.UpdateTime*1000);
            }
            else {
                pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
	    }

            if (currentview == "/prodview/"){
                drawPoolStatsProd();
            }
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                pool_stats['NotQueued'] = data.NotQueued;
                pool_stats['TaskCountR'] = data.TaskCountR;
                pool_stats['TaskCountH'] = data.TaskCountH;
                drawPoolStatsAna();
                }
            else if (currentview == "/totalview/"){
                pool_stats['AnalysisRunning'] = data.analysisview.Running;
                pool_stats['AnalysisTRunning'] = data.analysisview.TaskCountR;
                pool_stats['AnalysisIdle'] = data.analysisview.Idle;

                pool_stats['ProdRunning'] = data.prodview.Running;
                pool_stats['ProdTRunning'] = data.prodview.RequestCount;
                pool_stats['ProdIdle'] = data.prodview.Idle;

                pool_stats['CRAB2Running'] = data.analysiscrab2view.Running;
                pool_stats['CRAB2TRunning'] = data.analysiscrab2view.TaskCountR;
                pool_stats['CRAB2Idle'] = data.analysiscrab2view.Idle;

                pool_stats['TotalRunning'] = data.Summary.Running;
                pool_stats['TotalIdle'] = data.Summary.Idle;
                pool_stats['TotalTRunning'] = pool_stats['AnalysisTRunning'] + pool_stats['ProdTRunning'] + pool_stats['CRAB2TRunning'];
                drawPoolStatsTotal();
            }
            drawPoolStatsImgs(currentview);
        }

        function drawPoolStatsProd() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Idle Jobs</th><th>Workflow Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.Idle + "</td><td>" + pool_stats.RequestCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }
        
        function drawPoolStatsAna() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><td>Idle Jobs</td><td>" + pool_stats.Idle + "</td></tr>");
            pool_stats_table.append("<tr><td>Running Jobs</td><td>" + pool_stats.Running + "</td></tr>");
            pool_stats_table.append("<tr><td>Not Queued Jobs</td><td>" + pool_stats.NotQueued + "</td></tr>");
            pool_stats_table.append("<tr><td>User Count</td><td>" + pool_stats.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><td>Tasks Running</td><td>" + pool_stats.TaskCountR + "</td></tr>");
            pool_stats_table.append("<tr><td>Tasks Held</td><td>" + pool_stats.TaskCountH + "</td></tr>");
            pool_stats_table.append("<tr><td>Update Time</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }

        function drawPoolStatsTotal() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><td></td><td>Running</td><td>Idle</td><td>Tasks</td></tr>");
            pool_stats_table.append("<tr><td>Total</td><td>" + pool_stats.TotalRunning + "</td><td>"+ pool_stats.TotalIdle +"</td><td>"+ pool_stats.TotalTRunning +"</td></tr>");
            pool_stats_table.append("<tr><td>Production</td><td>" + pool_stats.ProdRunning + "</td><td>"+ pool_stats.ProdIdle +"</td><td>"+ pool_stats.ProdTRunning +"</td></tr>");
            pool_stats_table.append("<tr><td>Analysis</td><td>" + pool_stats.AnalysisRunning + "</td><td>"+ pool_stats.AnalysisIdle +"</td><td>"+ pool_stats.AnalysisTRunning +"</td></tr>");
            pool_stats_table.append("<tr><td>CRAB2</td><td>" + pool_stats.CRAB2Running + "</td><td>"+ pool_stats.CRAB2Idle +"</td><td>"+ pool_stats.CRAB2TRunning +"</td></tr>");
            pool_stats_table.append("<tr><td>Update Time</td><td colspan=\"3\">" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);

        }

        function drawPoolStatsImgs(currentview){
            $('#overall_hourly_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img');
            pool_hourly_img.attr('src', currentview + 'graphs/summary/hourly');
            $("#pool_hourly_img").append(pool_hourly_img);

            $('#overall_daily_img').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img');
            pool_daily_img.attr('src', currentview + 'graphs/summary/daily');
            $("#pool_daily_img").append(pool_daily_img);

            $('#overall_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/summary/weekly');
            $("#pool_weekly_img").append(pool_weekly_img);
        }
//]]>
        </script>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="brand" id="brand">Production Overview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
       <div class="container-fluid" style="padding-top:60px">
            <div class="row-fluid" id="top_summary">
                <div class="span12">
                    <div class="span3" style="padding-top:40px"><div id="request_slots_table"></div></div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_img"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Day</h2>
                        <div id="pool_daily_img"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_img"></div>
                    </div></div></div>
            </div>
            <div class="row-fluid">
                <div class="span1"></div>
                <div id="subtasks" class="span10">
                    <h2 id="pagetitle">
                        Summary of production
                    </h2>
                   <div id="running_workflows">
                        <div id="running_workflows_control"></div>
                        <div id="running_workflows_table"></div>
                    </div>
                </div>
                <div class="span1"></div>
            </div>
            <div class="row-fluid">
                <div id="sites" class="span12">
                    <h2 id="sitetitle">
                        Site Summary
                    </h2>
                    <div id="sites_summary">
                        <div id="sites_summary_control"></div>
                        <div id="sites_summary_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
