<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            Request $request Overview
        </title>
        <script src="/jquery.min.js" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="/bootstrap.min.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/bootstrap.min.js"></script>

        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="text/javascript">
        <!--
        function toggle_visibility(id) {
          var e = document.getElementById(id);
          var aID = id + '-name';
          if(e.style.display == 'inline'){
             e.style.display = 'none';1
             document.getElementById(aID).innerHTML = "Show Debug Information";
          }
          else
          {
             document.getElementById(aID).innerHTML = "Hide Debug Information";
             e.style.display = 'inline';
          }
        }
        //-->
        </script>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        var factory_data = "";
        function load_data() {
            var currentview = window.location['pathname'].split("/")[1];
            var currentview = "/".concat(currentview, "/");
            document.getElementById('navbar-brand').setAttribute('href', currentview);
            if (currentview == "/prodview/"){
                document.title = "CMS Production Overview";
                document.getElementById("navbar-brand").innerHTML = "Production Overview";
                }
            else if (currentview == "/analysisview/"){
                document.title = "CMS Analysis Overview";
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview";
                document.getElementById("first_column").innerHTML = "Last Hour";
                document.getElementById("second_column").innerHTML = "Last Day";
                }
            else if (currentview == "/analysiscrab2view/"){
                document.title = "CMS Analysis Overview (CRAB2)";
                document.getElementById("first_column").innerHTML = "Last Hour";
                document.getElementById("second_column").innerHTML = "Last Day";
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview (CRAB2)";
                }
            // currentview will be /analysisview/ or /prodview/ or /analysiscrab2view

            $.get('/scheddview/json/totals', function(data){
                factory_data = data;
            })
            // First, get the CMS-wide totals
            $.get('json/$request/totals', function(data){
                gotTotals(data, currentview)});

            // Next get the workflow summaries
            $.get('json/$request/summary', function(data){
                $.get('/scheddview/json/summary', function(schedddata){
                gotSummary(data, schedddata, currentview)})});

            // Finally, get the site summaries
            $.get('json/$request/site_summary', function(data){
                 gotSiteSummary(data, currentview)});
            
        }
        function gotSummary(data, schedddata, currentview) {
            var table_data = new google.visualization.DataTable();
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("string", "Debugger");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Priority");
                table_data.addColumn("string", 'Workflow History');

                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="/prodview/graphs/$request/' + workflow_key + '"/>';
                    var workflow_html = workflow_key;
                    var taskInfo1 = "";
                    var taskInfo = workflow_html;
                    var hrefName = workflow_key + '-name';
                    taskInfo1 += '<a target="_blank" href="http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/#user=default&table=Jobs&task=wmagent_$request">Dashboard link</a><br/>';
                    taskInfo1 += '<a href="#" id='+ hrefName +' onclick="toggle_visibility(\''+ workflow_key +'\');">Show debug information</a><br/>';
                    taskInfo1 += '<table id="'+ workflow_key +'" style="display:none;" border="1"><tr><th>WallTime</th><th>Memory</th><th>Running</th><th>Idle</th><th>Scheduler</th><th>Desired Sites</th><th>Warnings</th></tr>';
                    for (task_group_key in workflow_data.TaskInfo){
                    task_group_data = workflow_data.TaskInfo[task_group_key];
                    var sites_len = task_group_data.DesiredSites.split(',').length;
                    var schedd_key = task_group_data.Schedd.replace(/\./g,'-')
                    var schedd_load = 0;
                    if (schedd_key in schedddata)
                    {
                     schedd_load = schedddata[schedd_key].PercentageUse;
                    }
                    //$.each(schedddata, function(key1, val1){alert('"value" -> ' + key1 + ' ' + schedd_key + ' ' + val1);})
                    var warnings  = '';
                    if (sites_len == 0) warnings += ' There is no defined site.'
                    if (task_group_data.WallTime === undefined ) warnings += ' Walltime not defined.'
                    if (task_group_data.Memory === undefined ) warnings += ' Memory not defined.'
                    if (schedd_load > 93) warnings += 'Scheduler is overloaded.'
                    taskInfo1 += '<tr>';
                    taskInfo1 += '<td>' + task_group_data.WallTime + '</td>';
                    taskInfo1 += '<td>' + task_group_data.Memory + '</td>';
                    taskInfo1 += '<td>' + task_group_data.Running + '</td>';
                    taskInfo1 += '<td>' + task_group_data.Idle + '</td>';
                    taskInfo1 += '<td>' + task_group_data.Schedd + '</td>';
                    taskInfo1 += '<td>' + sites_len + '</td>';
                    taskInfo1 += '<td>' + warnings + '</td></tr>';
                    }                                           
                    taskInfo1 += '</tr></table><br/>';                  
                    table_data.addRow([taskInfo, taskInfo1, workflow_data.Running, workflow_data.Idle, workflow_data.BasePrio, image_html]);
                }}
            else if (currentview == "/analysisview/" ){
            table_data.addColumn("string", "Task Info")
            table_data.addColumn("number", "Total");
            table_data.addColumn("number", "Not Queued");
            table_data.addColumn("number", "Idle");
            table_data.addColumn("number", "Running");
            table_data.addColumn("number", "Done");
            table_data.addColumn("number", "Failed");
            table_data.addColumn("number", "Matching Site Count");

            table_data.addColumn("string", 'Workflow History');
            for (workflow_key in data) {
                workflow_data = data[workflow_key];
                var image_html = '<img src="/analysisview/graphs/$request/' + workflow_key + '"/>';
                var workflow_html = workflow_data.TaskInfo.TaskName;
                var taskInfo = "";
                taskInfo = workflow_html + '<br/>';
                taskInfo += '<a target="_blank" href="' + workflow_data.TaskInfo.CRAB_UserWebDir + '">User Web Directory</a><br/>';
                taskInfo += '<a target="_blank" href="http://dashb-cms-job.cern.ch/dashboard/templates/task-analysis/#user=default&table=Jobs&tid=' +workflow_html+ '">Dashboard link</a><br/>';
                taskInfo += '<a target="_blank" href="https://cmsweb.cern.ch/crabserver/ui/task/' + workflow_html + '"> CrabServer link</a><br/>';
                taskInfo += '<br/>';
                taskInfo += '<table border="1"><tr><th>Task Status</th><th>WallTime</th><th>Memory</th></tr>';
                taskInfo += '<tr>';
                taskInfo += '<td>' + workflow_data.TaskInfo.JobStatus + '</td>';
                taskInfo += '<td>' + workflow_data.TaskInfo.MaxWallTimeMins + '</td>';
                taskInfo += '<td>' + workflow_data.TaskInfo.RequestMemory + '</td>';
                taskInfo += '</tr></table><br/>';
                taskInfo += 'Scheduler: <a href="/scheddview">' + workflow_data.TaskInfo.Schedd + '</a>';

                table_data.addRow([taskInfo, workflow_data.TaskInfo.DAG_NodesTotal, workflow_data.TaskInfo.DAG_NodesReady, workflow_data.Idle, workflow_data.Running, workflow_data.TaskInfo.DAG_NodesDone, workflow_data.TaskInfo.DAG_NodesFailed, workflow_data.SiteCount, image_html]);
                }}
            else if (currentview == "/analysiscrab2view/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Idle");
                table_data.addColumn("number", "Matching Site Count");
                table_data.addColumn("string", 'Workflow History');
                for (workflow_key in data) {
                    workflow_data = data[workflow_key];
                    var image_html = '<img src="/analysiscrab2view/graphs/$request/' + workflow_key + '"/>';
                    var workflow_html = workflow_key;
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.Idle, workflow_data.SiteCount, image_html]);
                }}

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_subtasks'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_subtasks_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_subtasks_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            // I hate google table class. Sorry ;)
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);
        }
        function gotSiteSummary(data, currentview) {

            var table_data = new google.visualization.DataTable();
            table_data.addColumn("string", "Site");
            table_data.addColumn("number", "Running");
            table_data.addColumn("number", "Matching Idle");
            if (currentview == "/prodview/")
            {
                table_data.addColumn("string", "Total Max Running Achieved")
                table_data.addColumn("string", "Site history for production");
            }
            else if (currentview == "/analysisview/"){
                table_data.addColumn("string", "Total Max Running Achieved")
                table_data.addColumn("string", "Site history for Analysis");
            }
            else if (currentview == "/analysisview/"){
                table_data.addColumn("string", "Total Max Running Achieved")
                table_data.addColumn("string", "Site history for Analysis(CRAB2)");
            }

            if (currentview == "/prodview/"){
                for (site_key in data) {
                    site = data[site_key];
                    var site_util = '<img src="/totalview/graphs/' + site_key + '/utilization/"/>';
                    var site_img = '<img src="' + currentview + 'graphs/' + site_key + '"/>';
                    var site_html = '<a href="' + currentview + site_key + '"/>' + site_key + '</a>';
                    if (site_key in factory_data){
                       var entries = factory_data[site_key];
                       site_html += '<table border="1"><tr><th>Num</th><th>MaxWallTime</th><th>MaxMemory</th></tr>'
                       for (i = 0; i< entries.length; i++){
                           site_html += '<tr><td>'+ i + '</td>';
                           site_html += '<td>' + entries[i]['MaxWallTime'] + '</td>';
                           site_html += '<td>' + entries[i]['MaxMemMB'] + '</td></tr>';
                       }
                       site_html += '</table><br/>';
                    }
                    else {
                       site_html += "PROBLEM. Not in the factory.";
                    }
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, site_util, site_img]);
                }
            }
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                for (site_key in data) {
                    site = data[site_key];
                    var site_html = '<a href="' + currentview + site_key + '"/>' + site_key + '</a>';
                    var site_util = '<img src="/totalview/graphs/' + site_key + '/utilization/"/>';
                    var site_img = '<img src="' + currentview + 'graphs/' + site_key + '"/>';
                    if (site_key in factory_data){
                        var entries = factory_data[site_key];
                        site_html += '<table border="1"><tr><th>Num</th><th>MaxWallTime</th><th>MaxMemory</th></tr>'
                        for (i = 0; i< entries.length; i++){
                            site_html += '<tr><td>'+ i + '</td>';
                            site_html += '<td>' + entries[i]['MaxWallTime'] + '</td>';
                            site_html += '<td>' + entries[i]['MaxMemMB'] + '</td></tr>';
                        }
                        site_html += '</table><br/>';
                    }
                    else {
                    site_html += "PROBLEM. Not in the factory.";
		    }
                    table_data.addRow([site_html, site.Running, site.MatchingIdle, site_util, site_img]);
                }
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('sites_summary'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'sites_summary_table',
                options: {sortColumn: 0, sortAscending: true, allowHtml: true, page: 'enable', pageSize: 20, cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'sites_summary_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            // I hate google table class. Sorry ;)
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);

            // Reset the reload button
            $("#loading-btn").button('reset');
            // Set the last updated
            current_date = new Date();
            $("#updated-time").html("Page Last Updated: " + current_date.toLocaleString());
        }
        var pool_stats = new Array();
        function gotTotals(data, currentview) {
            pool_stats['Running'] = data.Running;
            pool_stats['SubtaskCount'] = data.SubtaskCount;
            pool_stats['Idle'] = data.Idle;
            pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStats();
            drawPoolStatsImgs(currentview);
        }

        function drawPoolStats() {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Idle Jobs</th><th>Workflow Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.Idle + "</td><td>" + pool_stats.SubtaskCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table").append(pool_stats_table);
        }


        function drawPoolStatsImgs(currentview){
            //First
            $('#request_daily_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'request_daily_img');
            if (currentview == "/prodview/")
                pool_hourly_img.attr('src', currentview + 'graphs/$request/daily');
            else
                pool_hourly_img.attr('src', currentview + 'graphs/$request/hourly');
            $("#overall_daily_img").append(pool_hourly_img);

            //Second
            $('#request_dailys_img').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'request_dailys_img');
            if (currentview == "/prodview/")
                pool_daily_img.attr('src', currentview + 'graphs/$request/starvation/daily');
            else
                pool_daily_img.attr('src', currentview + 'graphs/$request/daily');
            $("#overall_dailys_img").append(pool_daily_img);

            //Third
            $('#request_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'request_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/$request/weekly');
            $("#overall_weekly_img").append(pool_weekly_img);
        }
//]]>
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" id="navbar-brand">GWMS Overview</a>
         </div>
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
              <li><a href="/factoryview">Factory Overview</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </nav>
        <div class="container-fluid">
            <div class="row jumbotron">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:60px"><div id="request_slots_table"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2 id="first_column">Last Day</h2>
                        <div id="overall_daily_img"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div id="starvation_prod" class="row">
                            <h2 id="second_column">Last Day Starvation</h2>
                            <div id="overall_dailys_img"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2 id="third_column">Last Week</h2>
                        <div id="overall_weekly_img"></div>
                    </div></div></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="subtasks" class="col-md-10">
                    <h2>
                        Running Subtasks for $request
                    </h2>
                    <div id="running_subtasks">
                        <div id="running_subtasks_control"></div>
                        <div id="running_subtasks_table"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="sites" class="col-md-10">
                    <h2>
                        Site Summary
                    </h2>
                    <div id="sites_summary">
                        <div id="sites_summary_control"></div>
                        <div id="sites_summary_table"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69774798-1', 'auto');
  ga('send', 'pageview');
  </script>
</html>

