<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            Site $site Overview
        </title>
        <script src="/jquery.min.js" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="/bootstrap.min.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/bootstrap.min.js"></script>

        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            var currentview = window.location['pathname'].split("/")[1];
            var currentview = "/".concat(currentview, "/");
            document.getElementById('navbar-brand').setAttribute('href', currentview);
            document.getElementById("factory_entries").style.display = 'none';
            document.getElementById("pilots").style.display = 'none';
            if (currentview == "/prodview/"){
                document.getElementById("navbar-brand").innerHTML = "Production Overview";
                $.get('json/$site', function(data){
                  gotTotals(data, currentview)});
                $.get('json/$site/summary', function(data){
                  gotSummary(data, currentview)});
            }
            else if (currentview == "/analysisview/"){
                document.getElementById("navbar-brand").innerHTML = "Analysis Overview";
                $.get('json/$site', function(data){
                  gotTotals(data, currentview)});
                $.get('json/$site/summary', function(data){
                  gotSummary(data, currentview)})
            }
            else if (currentview == "/analysiscrab2view/"){
                document.getElementById("navbar-brand").innerHTML = "Analysis CRAB2 Overview";
                $.get('json/$site', function(data){
                  gotTotals(data, currentview)});
                $.get('json/$site/summary', function(data){
                  gotSummary(data, currentview)});
            }
            else if (currentview == "/totalview/"){
                document.getElementById("factory_entries").style.marginLeft = '1px';
                document.getElementById("factory_entries").style.display = 'inline';
                document.getElementById("pilots").style.marginLeft = '1px';
                document.getElementById("pilots").style.display = 'inline';

                document.getElementById("navbar-brand").innerHTML = "Total Overview";
                document.getElementById("title").innerHTML = "Total Overview";
                $.get('json/$site/summary', function(data){
                  gotSummaryT(data, currentview)});
                $.get('/factoryview/json/$site/summary', function(data){
                  $.get('/factoryview/json/summary', function(data1){
                     gotSummaryFactory(data, data1, currentview, false, 'factory_entries', 'factory_entries_r_table', 'factory_entries_r_control')})});
            }
            else if (currentview == '/factoryview/' ){
                document.getElementById("workflows").style.marginLeft = '1px';
                document.getElementById("navbar-brand").innerHTML = "Factory Overview";
                document.getElementById("title").innerHTML = "Factory Overview";
               $.get('json/$site/summary', function(data){
                 $.get(currentview.concat('/json/summary'), function(data1){
                    gotSummaryFactory(data, data1, currentview, true, 'running_workflows', 'running_workflows_table', 'running_workflows_control')})})
            }
        }

        function gotSummaryFactory(data, data1, currentview, showTopStats, DataTable, DataTableID, DataTableControl){
        var init = typeof showTopStats === "undefined" ? true : showTopStats;
        if (init)
        {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><td>Errors</td><td>" + data.Summary.Errors + "</td></tr>");
            pool_stats_table.append("<tr><td>Warnings</td><td>" + data.Summary.Warnings + "</td></tr>");
            pool_stats_table.append("<tr><td>Running Pilots</td><td>" + data.Summary.Run + "</td></tr>");
            pool_stats_table.append("<tr><td>Idle Pilots/Total Idle</td><td>" + data.Summary.Idle + " / " + data.Summary.MIdle + "</td></tr>");
            pool_stats_table.append("<tr><td>Held Pilots/Total Held</td><td>" + data.Summary.Held + " / " + data.Summary.MHeld + "</td></tr>");
            $("#site_slots_table").append(pool_stats_table);
        
            $('#overall_hourly_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img');
            pool_hourly_img.attr('src', currentview + 'graphs/$site/joint/hourly');
            $("#site_hourly_img").append(pool_hourly_img);

            $('#overall_daily_img').detach();
            pool_daily_img = $("<img></img>");  
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img');
            pool_daily_img.attr('src', currentview + 'graphs/$site/joint/daily');
            $("#site_daily_img").append(pool_daily_img);

            $('#overall_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/$site/joint/weekly');
            $("#site_weekly_img").append(pool_weekly_img);
        }
        var table_data = new google.visualization.DataTable();
        table_data.addColumn("string", "Entry");
        table_data.addColumn("number", "Errors");
        table_data.addColumn("number", "Warnings");
        table_data.addColumn("number", "Running");
        table_data.addColumn("number", "Idle");
        table_data.addColumn("number", "Held");
        table_data.addColumn("string", "Siteview status");
        table_data.addColumn("string", "Idle status");
        table_data.addColumn("string", 'Held status');

        for (key in data) {
            if (key !== 'Summary' && key !== 'Errors'){
                for (key1 in data[key]){
                  sdata = data[key][key1];
                  var new_key = key1.replace(" ", "").toLowerCase() + key;
                  var image_html = '<img src="/factoryview/graphs/$site' + new_key + '"/>';
                  var factory_url = '';
                  if (key1 in data1.FactoryUrls)
                      factory_url = data1.FactoryUrls[key1]
                  var details = '<a target="_blank" href="' + factory_url + '">' + key1 + ' link </a><br/>';
                  details += '<a target="_blank" href="'+ factory_url +'/factoryEntryStatusNow.html?entry=' + key + '">'+ key +' link </a><br/>';
                  var errors = 0;
                  var warnings = 0;
                  if ('Error' in sdata){
                      errors = sdata.Error.length;
                      for (i = 0; i < errors; i++){
                          details += '<b>Error:</b> ' + sdata.Error[i] + '<br/>';
                      }
                  }
                  if ('Warning' in sdata){
                      warnings = sdata.Warning.length;
                      for (i = 0; i < warnings; i++){
                          details += '<b>Warning:</b> ' + sdata.Warning[i] + '<br/>';
                      }
                  }
                  var siteview = '<img src="/factoryview/graphs/$site/' + new_key + '/joint"/>';  
                  var idleview = '<img src="/factoryview/graphs/$site/' + new_key + '/idle"/>';
                  var heldview = '<img src="/factoryview/graphs/$site/' + new_key + '/held"/>';
                  table_data.addRow([details, errors, warnings, sdata.nowRunn, sdata.nowIdle, sdata.nowHeld, siteview, idleview, heldview]);
                  
            }}}
        var dashboard = new google.visualization.Dashboard(document.getElementById(DataTable));
        var table = new google.visualization.ChartWrapper({
                      chartType: 'Table',
                      containerId: DataTableID,
                      options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
                  });
        var control = new google.visualization.ControlWrapper({
                      controlType: 'StringFilter',
                      containerId: DataTableControl,
                      options: {filterColumnIndex: 0, matchType: 'any'}
                  });
        dashboard.bind([control], [table]);
        // I hate google table class. Sorry ;)
        google.visualization.events.addListener(table, 'ready', function(){
          $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
        });

        dashboard.draw(table_data);
        }

        function gotSummaryT(data, currentview){
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            var total_tasks = 0;
            if ('analysisview' in data)
                total_tasks += data.analysisview.RequestCount;
            if ('prodview' in data)
                total_tasks += data.prodview.RequestCount;
            if ('analysiscrab2view' in data)
                total_tasks += data.analysiscrab2view.RequestCount;

            pool_stats_table.append("<tr><th></th><th>Running</th><th>Idle</th><th>Tasks</th></tr>");
            pool_stats_table.append("<tr><td>Total</td><td>" + data.Running + "</td><td>"+ data.MatchingIdle +"</td><td>"+ total_tasks +"</td></tr>");
            if ('prodview' in data)
                pool_stats_table.append("<tr><td>Production</td><td>" + data.prodview.Running + "</td><td>"+ data.prodview.MatchingIdle +"</td><td>"+ data.prodview.RequestCount +"</td></tr>");
            else
                pool_stats_table.append("<tr><td>Production</td><td>0</td><td>0</td><td>0</td></tr>");
            if ('analysisview' in data)
                pool_stats_table.append("<tr><td>Analysis</td><td>" + data.analysisview.Running + "</td><td>"+ data.analysisview.MatchingIdle +"</td><td>"+ data.analysisview.RequestCount +"</td></tr>");
            else
                pool_stats_table.append("<tr><td>Analysis</td><td>0</td><td>0</td><td>0</td></tr>");
            if ('analysiscrab2view' in data)
                pool_stats_table.append("<tr><td>CRAB2</td><td>" + data.analysiscrab2view.Running + "</td><td>"+ data.analysiscrab2view.MatchingIdle +"</td><td>"+ data.analysiscrab2view.RequestCount +"</td></tr>");
            else
                pool_stats_table.append("<tr><td>CRAB2</td><td>0</td><td>0</td><td>0</td></tr>");

            $("#site_slots_table").append(pool_stats_table);

            $('#overall_hourly_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img');
            pool_hourly_img.attr('src', currentview + 'graphs/$site/hourly');
            $("#site_hourly_img").append(pool_hourly_img);

            $('#overall_daily_img').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img');
            pool_daily_img.attr('src', currentview + 'graphs/$site/daily');
            $("#site_daily_img").append(pool_daily_img);

            $('#overall_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/$site/weekly');
            $("#site_weekly_img").append(pool_weekly_img);

            var table_data = new google.visualization.DataTable();
            table_data.addColumn("string", "Type");
            table_data.addColumn("string", 'Last Hour');
            table_data.addColumn("string", 'Last Day');
            table_data.addColumn("string", 'Last Week');

            // Add resource utilization as first entry
            var util_html_hourly = '<img src="/totalview/graphs/$site/utilization/hourly"/>';
            var util_html_daily = '<img src="/totalview/graphs/$site/utilization/daily"/>';
            var util_html_weekly = '<img src="/totalview/graphs/$site/utilization/weekly"/>';
            table_data.addRow(['Max Running Achieved', util_html_hourly, util_html_daily, util_html_weekly]);

            if ('prodview' in data){
                var image_html_hourly = '<img src="/prodview/graphs/$site/hourly"/>';
                var image_html_daily = '<img src="/prodview/graphs/$site/daily"/>';
                var image_html_weekly = '<img src="/prodview/graphs/$site/weekly"/>';
                var type_html = '<a href="/prodview/$site">Production</a>';
                table_data.addRow([type_html, image_html_hourly, image_html_daily, image_html_weekly]);
            }
            if ('analysisview' in data){
                var image_html_hourly = '<img src="/analysisview/graphs/$site/hourly"/>';
                var image_html_daily = '<img src="/analysisview/graphs/$site/daily"/>';
                var image_html_weekly = '<img src="/analysisview/graphs/$site/weekly"/>';
                var type_html = '<a href="/analysisview/$site">Analysis</a>';
                table_data.addRow([type_html, image_html_hourly, image_html_daily, image_html_weekly]);
            }
            if ('analysiscrab2view' in data){
                var image_html_hourly = '<img src="/analysiscrab2view/graphs/$site/hourly"/>';
                var image_html_daily = '<img src="/analysiscrab2view/graphs/$site/daily"/>';
                var image_html_weekly = '<img src="/analysiscrab2view/graphs/$site/weekly"/>';
                var type_html = '<a href="/analysiscrab2view/$site">CRAB2</a>';
                table_data.addRow([type_html, image_html_hourly, image_html_daily, image_html_weekly]);
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_workflows_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_workflows_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            // I hate google table class. Sorry ;)
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);

            // Pilots usage graphs
            if ('PilotUsage' in data){
             var table_data = new google.visualization.DataTable();
             table_data.addColumn("string", "Type");
             table_data.addColumn("string", 'Last Hour');
             table_data.addColumn("string", 'Last Day');
             table_data.addColumn("string", 'Last Week');
             var types = ['Total', 'Partitionable', 'Static'];

             var pilots_html_hourly = '<img src="/totalview/graphs/$site/full/hourly"/>';
             var pilots_html_daily = '<img src="/totalview/graphs/$site/full/daily"/>';
             var pilots_html_weekly = '<img src="/totalview/graphs/$site/full/weekly"/>';
             table_data.addRow(['Totals', pilots_html_hourly, pilots_html_daily, pilots_html_weekly]);
 
             if ('Partitionable' in data['PilotUsage']){
             
                 var pilots_html_hourly = '<img src="/totalview/graphs/$site/partitionable/hourly"/>';
                 var pilots_html_daily = '<img src="/totalview/graphs/$site/partitionable/daily"/>';
                 var pilots_html_weekly = '<img src="/totalview/graphs/$site/partitionable/weekly"/>';
                 table_data.addRow(['Partitionable', pilots_html_hourly, pilots_html_daily, pilots_html_weekly]);
             }
             
             if ('Partitionable' in data['PilotUsage']){
              
                 var pilots_html_hourly = '<img src="/totalview/graphs/$site/static/hourly"/>';
                 var pilots_html_daily = '<img src="/totalview/graphs/$site/static/daily"/>';
                 var pilots_html_weekly = '<img src="/totalview/graphs/$site/static/weekly"/>';
                 table_data.addRow(['Static', pilots_html_hourly, pilots_html_daily, pilots_html_weekly]);
             
             }
             var dashboard = new google.visualization.Dashboard(document.getElementById('pilots_usage'));
             var table = new google.visualization.ChartWrapper({
                 chartType: 'Table',
                 containerId: 'pilots_usage_table',
                 options: {sortColumn: 0, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '    1', rowNumberCell: '1'}}
             });
             var control = new google.visualization.ControlWrapper({
                 controlType: 'StringFilter',
                 containerId: 'pilots_usage_control',
                 options: {filterColumnIndex: 0, matchType: 'any'}
             });
             dashboard.bind([control], [table]);
             // I hate google table class. Sorry ;)
             google.visualization.events.addListener(table, 'ready', function(){
               $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
             });

             dashboard.draw(table_data);
            
            
            }
        }


        function gotSummary(data, currentview) {
            var table_data = new google.visualization.DataTable();
            if (currentview == "/prodview/"){
                table_data.addColumn("string", "Workflow");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Matching Idle");
                table_data.addColumn("number", "Matching Sites");
                table_data.addColumn("number", "Priority");
            }
            else if (currentview == "/analysisview/" || currentview == "/analysiscrab2view/"){
                table_data.addColumn("string", "User");
                table_data.addColumn("number", "Running");
                table_data.addColumn("number", "Matching Idle");
                table_data.addColumn("number", "Matching Sites");
            }
            table_data.addColumn("string", 'Workflow History');

            for (workflow_key in data) {
                workflow_data = data[workflow_key];
                var image_html = '<img src="' + currentview + 'graphs/' + workflow_key + '/$site"/>';
                var workflow_html = '<a href="' + currentview + workflow_key + '">' + workflow_key + '</a>';
                if (currentview == "/prodview/")
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.MatchingIdle, workflow_data.MatchingSites, workflow_data.BasePrio, image_html]);
                else
                    table_data.addRow([workflow_html, workflow_data.Running, workflow_data.MatchingIdle, workflow_data.MatchingSites, image_html]);
            }

            var dashboard = new google.visualization.Dashboard(document.getElementById('running_workflows'));
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'running_workflows_table',
                options: {sortColumn: 1, sortAscending: false, allowHtml: true, page: 'enable', cssClassNames: {headerRow: '1', tableRow: '1', oddTableRow: '1', selectedTableRow: '1', hoverTableRow: '1', headerCell: '1', tableCell: '    1', rowNumberCell: '1'}}
            });
            var control = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'running_workflows_control',
                options: {filterColumnIndex: 0, matchType: 'any'}
            });

            dashboard.bind([control], [table]);
            // I hate google table class. Sorry ;)
            google.visualization.events.addListener(table, 'ready', function(){
              $(".google-visualization-table-table").attr('class', 'table-bordered table-hover table-condensed table-striped');
            });

            dashboard.draw(table_data);

        }

        var pool_stats = new Array();
        function gotTotals(data, currentview) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['MatchingIdle'] = data.MatchingIdle;
            pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStats(currentview);
        }

        function drawPoolStats(currentview) {
            $('#overall_stats_table').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Matching Idle Jobs</th><th>Request Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.MatchingIdle + "</td><td>" + pool_stats.RequestCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#site_slots_table").append(pool_stats_table);

            $('#overall_hourly_img').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img');
            pool_hourly_img.attr('src', currentview + 'graphs/$site/hourly');
            $("#site_hourly_img").append(pool_hourly_img);

            $('#overall_daily_img').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img');
            pool_daily_img.attr('src', currentview + 'graphs/$site/daily');
            $("#site_daily_img").append(pool_daily_img);

            $('#overall_weekly_img').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img');
            pool_weekly_img.attr('src', currentview + 'graphs/$site/weekly');
            $("#site_weekly_img").append(pool_weekly_img);
        }
//]]>
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" id="navbar-brand">GWMS Overview</a>
         </div>
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
              <li><a href="/factoryview">Factory Overview</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </nav>
        <div class="container-fluid">
            <div class="row jumbotron">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-top:40px"><div id="site_slots_table"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="site_hourly_img"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="site_daily_img"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="site_weekly_img"></div>
                    </div></div></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="workflows" class="col-md-12">
                    <h2 id="title">
                        Running Requests 
                    </h2>
                    <div id="running_workflows">
                        <div id="running_workflows_control"></div>
                        <div id="running_workflows_table"></div>
                    </div>
                </div>
                 <div id="factory_entries" class="col-md-12">
                    <h2 id="title">
                        Factory entries
                    </h2>
                    <div id="factory_entries_r">
                        <div id="factory_entries_r_control"></div>
                        <div id="factory_entries_r_table"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div id="pilots" class="col-md-12">
                   <h2 id="title">
                    Pilots usage
                   </h2>
                   <div id="pilots_usage">
                      <div id="pilots_usage_control"></div>
                      <div id="pilots_usage_table"></div>
                   </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69774798-1', 'auto');
  ga('send', 'pageview');
</script>
</html>

