<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            CMS GWMS Overview
        </title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            $.get('/prodview/json/totals', gotTotalsP);
            $.get('/analysisview/json/totals', function(data){
                  gotTotals(data, '/analysisview/', 'a')});
            
            $.get('/analysiscrab2view/json/totals', function(data){
                  gotTotals(data, '/analysiscrab2view/', 'ac2')});
            }
        

        var pool_stats1 = new Array();
        function gotTotals(data, view, addition) {
            pool_stats1['Running'] = data.Running;
            pool_stats1['RequestCount'] = data.RequestCount;
            pool_stats1['Idle'] = data.Idle;
            pool_stats1['NotQueued'] = data.NotQueued;
            pool_stats1['TaskCountR'] = data.TaskCountR;
            pool_stats1['TaskCountH'] = data.TaskCountH;
            pool_stats1['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStats1(view, addition);
        }

        function drawPoolStats1(view, addition) {
            $('#overall_stats_table' + addition).detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table' + addition);
            pool_stats_table.append("<tr><td>Idle Jobs</td><td>" + pool_stats1.Idle + "</td></tr>");
            pool_stats_table.append("<tr><td>Running Jobs</td><td>" + pool_stats1.Running + "</td></tr>");
            pool_stats_table.append("<tr><td>Not Queued Jobs</td><td>" + pool_stats1.NotQueued + "</td></tr>");
            pool_stats_table.append("<tr><td>User Count</td><td>" + pool_stats1.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><td>Tasks Running</td><td>" + pool_stats1.TaskCountR + "</td></tr>");
            pool_stats_table.append("<tr><td>Tasks Held</td><td>" + pool_stats1.TaskCountH + "</td></tr>");
            pool_stats_table.append("<tr><td>Update Time</td><td>" + pool_stats1.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table" + addition).append(pool_stats_table);

            $('#overall_hourly_img' + addition).detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_img' + addition);
            pool_hourly_img.attr('src', view + 'graphs/summary/hourly');
            $("#pool_hourly_img" + addition).append(pool_hourly_img);

            $('#overall_daily_img' + addition).detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_img' + addition);
            pool_daily_img.attr('src', view + 'graphs/summary/daily');
            $("#pool_daily_img" + addition).append(pool_daily_img);

            $('#overall_weekly_img' + addition).detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_img' + addition);
            pool_weekly_img.attr('src', view + 'graphs/summary/weekly');
            $("#pool_weekly_img" + addition).append(pool_weekly_img);
        }

        var pool_stats = new Array();
        function gotTotalsP(data) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['Idle'] = data.Idle;
            pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStatsP();
        }

        function drawPoolStatsP() {
            $('#overall_stats_tablep').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_tablep');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Idle Jobs</th><th>Workflow Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.Idle + "</td><td>" + pool_stats.RequestCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_tablep").append(pool_stats_table);

            $('#overall_hourly_imgp').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img");
            pool_hourly_img.attr('id', 'overall_hourly_imgp');
            pool_hourly_img.attr('src', '/prodview/graphs/summary/hourly');
            $("#pool_hourly_imgp").append(pool_hourly_img);

            $('#overall_daily_imgp').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img");
            pool_daily_img.attr('id', 'overall_daily_imgp');
            pool_daily_img.attr('src', '/prodview/graphs/summary/daily');
            $("#pool_daily_imgp").append(pool_daily_img);

            $('#overall_weekly_imgp').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img");
            pool_weekly_img.attr('id', 'overall_weekly_imgp');
            pool_weekly_img.attr('src', '/prodview/graphs/summary/weekly');
            $("#pool_weekly_imgp").append(pool_weekly_img);
        }


//]]>
        </script>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">GWMS Overview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
       <div class="container-fluid" style="padding-top:60px">
            <div class="row-fluid hero-unit" style="padding:0px 0px 20px 0px">
                <div class="span12">
                    <div class="span3"><h2><a href="/prodview">Production</a></h2><div id="request_slots_tablep"></div></div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_imgp"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Day</h2>
                        <div id="pool_daily_imgp"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_imgp"></div>
                    </div></div></div>
            </div>
        <div class="row-fluid hero-unit" style="padding:0px">
                <div class="span12">
                    <div class="span3"><h2><a href="/analysisview">Analysis</a></h2>
                    <div id="request_slots_tablea"></div></div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_imga"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Day</h2>
                        <div id="pool_daily_imga"></div>
                    </div>
                    </div>
                    <div class="span3">
                    <div class="row-fluid">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_imga"></div>
                    </div></div></div>
        </div>
                <div class="row-fluid hero-unit" style="padding:0px">
                    <div class="span12">
                         <div class="span3"><h2><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></h2>
                         <div id="request_slots_tableac2"></div></div>
                         <div class="span3">
                         <div class="row-fluid">
                             <h2>Last Hour</h2>
                             <div id="pool_hourly_imgac2"></div>
                         </div>
                         </div>
                        <div class="span3">
                        <div class="row-fluid">
                        <h2>Last Day</h2>
                       <div id="pool_daily_imgac2"></div>
                       </div>
                       </div>
                       <div class="span3">
                       <div class="row-fluid">
                       <h2>Last Week</h2>
                       <div id="pool_weekly_imgac2"></div>
                       </div></div></div>
                       </div>
        </div>
    </body>
</html>

