<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            CMS GWMS Overview
        </title>
        <script src="jquery.min.js" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap.min.css"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="bootstrap.min.js"></script>

        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
         <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            $.get('/prodview/json/totals', gotTotalsP);
            $.get('/analysisview/json/totals', function(data){
                  gotTotals(data, '/analysisview/', 'a')});
            
            $.get('/analysiscrab2view/json/totals', function(data){
                  gotTotals(data, '/analysiscrab2view/', 'ac2')});
            }
        

        var pool_stats1 = new Array();
        function gotTotals(data, view, addition) {
            pool_stats1['Running'] = data.Running;
            pool_stats1['RequestCount'] = data.RequestCount;
            pool_stats1['Idle'] = data.Idle;
            pool_stats1['NotQueued'] = data.NotQueued;
            pool_stats1['TaskCountR'] = data.TaskCountR;
            pool_stats1['TaskCountH'] = data.TaskCountH;
            pool_stats1['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStats1(view, addition);
        }

        function drawPoolStats1(view, addition) {
            $('#overall_stats_table' + addition).detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_table' + addition);
            pool_stats_table.append("<tr><th>Idle Jobs</th><td>" + pool_stats1.Idle + "</td></tr>");
            pool_stats_table.append("<tr><th>Running Jobs</th><td>" + pool_stats1.Running + "</td></tr>");
            pool_stats_table.append("<tr><th>Not Queued Jobs</th><td>" + pool_stats1.NotQueued + "</td></tr>");
            pool_stats_table.append("<tr><th>User Count</th><td>" + pool_stats1.RequestCount + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Running</th><td>" + pool_stats1.TaskCountR + "</td></tr>");
            pool_stats_table.append("<tr><th>Tasks Held</th><td>" + pool_stats1.TaskCountH + "</td></tr>");
            pool_stats_table.append("<tr><th>Update Time</th><td>" + pool_stats1.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_table" + addition).append(pool_stats_table);

            $('#overall_hourly_img' + addition).detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img-responsive");
            pool_hourly_img.attr('id', 'overall_hourly_img' + addition);
            pool_hourly_img.attr('src', view + 'graphs/summary/hourly');
            $("#pool_hourly_img" + addition).append(pool_hourly_img);

            $('#overall_daily_img' + addition).detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img-responsive");
            pool_daily_img.attr('id', 'overall_daily_img' + addition);
            pool_daily_img.attr('src', view + 'graphs/summary/daily');
            $("#pool_daily_img" + addition).append(pool_daily_img);

            $('#overall_weekly_img' + addition).detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img-responsive");
            pool_weekly_img.attr('id', 'overall_weekly_img' + addition);
            pool_weekly_img.attr('src', view + 'graphs/summary/weekly');
            $("#pool_weekly_img" + addition).append(pool_weekly_img);
        }

        var pool_stats = new Array();
        function gotTotalsP(data) {
            pool_stats['Running'] = data.Running;
            pool_stats['RequestCount'] = data.RequestCount;
            pool_stats['Idle'] = data.Idle;
            pool_stats['UpdateDate'] = new Date(data.UpdateTime*1000);
            drawPoolStatsP();
        }

        function drawPoolStatsP() {
            $('#overall_stats_tablep').detach();
            pool_stats_table = $("<table></table>");
            pool_stats_table.addClass("table");
            pool_stats_table.attr('id', 'overall_stats_tablep');
            pool_stats_table.append("<tr><th>Running Jobs</th><th>Idle Jobs</th><th>Workflow Count</th><th>Last Data Update</th>");
            pool_stats_table.append("<tr><td>" + pool_stats.Running + "</td><td>" + pool_stats.Idle + "</td><td>" + pool_stats.RequestCount + "</td><td>" + pool_stats.UpdateDate.toLocaleString() + "</td></tr>");
            $("#request_slots_tablep").append(pool_stats_table);

            $('#overall_hourly_imgp').detach();
            pool_hourly_img = $("<img></img>");
            pool_hourly_img.addClass("img-responsive");
            pool_hourly_img.attr('id', 'overall_hourly_imgp');
            pool_hourly_img.attr('src', '/prodview/graphs/summary/hourly');
            $("#pool_hourly_imgp").append(pool_hourly_img);

            $('#overall_daily_imgp').detach();
            pool_daily_img = $("<img></img>");
            pool_daily_img.addClass("img-responsive");
            pool_daily_img.attr('id', 'overall_daily_imgp');
            pool_daily_img.attr('src', '/prodview/graphs/summary/daily');
            $("#pool_daily_imgp").append(pool_daily_img);

            $('#overall_weekly_imgp').detach();
            pool_weekly_img = $("<img></img>");
            pool_weekly_img.addClass("img-responsive");
            pool_weekly_img.attr('id', 'overall_weekly_imgp');
            pool_weekly_img.attr('src', '/prodview/graphs/summary/weekly');
            $("#pool_weekly_imgp").append(pool_weekly_img);
        }


//]]>
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">GWMS Overview</a>
         </div>
          <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Main Page</a></li>
              <li><a href="/totalview">Total Overview</a></li>
              <li><a href="/prodview">Production Overview</a></li>
              <li><a href="/analysisview">Analysis Overview</a></li>
              <li><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></li>
              <li><a href="/scheddview">Schedd Overview</a></li>
              <li><a href="/factoryview">Factory Overview</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </nav>
       <div class="container-fluid">
            <div class="row jumbotron" style="padding:0px 0px 20px 0px">
                <div class="col-md-12">
                    <div class="col-md-3"><h2><a href="/prodview">Production</a></h2><div id="request_slots_tablep"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_imgp"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="pool_daily_imgp"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_imgp"></div>
                    </div></div></div>
            </div>
        <div class="row jumbotron" style="padding:0px">
                <div class="col-md-12">
                    <div class="col-md-3"><h2><a href="/analysisview">Analysis</a></h2>
                    <div id="request_slots_tablea"></div></div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Hour</h2>
                        <div id="pool_hourly_imga"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Day</h2>
                        <div id="pool_daily_imga"></div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="row">
                        <h2>Last Week</h2>
                        <div id="pool_weekly_imga"></div>
                    </div></div></div>
        </div>
                <div class="row jumbotron" style="padding:0px">
                    <div class="col-md-12">
                         <div class="col-md-3"><h2><a href="/analysiscrab2view">Analysis CRAB2 Overview</a></h2>
                         <div id="request_slots_tableac2"></div></div>
                         <div class="col-md-3">
                         <div class="row">
                             <h2>Last Hour</h2>
                             <div id="pool_hourly_imgac2"></div>
                         </div>
                         </div>
                        <div class="col-md-3">
                        <div class="row">
                        <h2>Last Day</h2>
                       <div id="pool_daily_imgac2"></div>
                       </div>
                       </div>
                       <div class="col-md-3">
                       <div class="row">
                       <h2>Last Week</h2>
                       <div id="pool_weekly_imgac2"></div>
                       </div></div></div>
                       </div>
        </div>
    </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69774798-1', 'auto');
  ga('send', 'pageview');
  </script>

</html>

